/* Event area css
============================================================================================ */
.our_events_area{
    padding: 100px 0px;
    .service_title{
        padding-bottom: 50px;
    }
    &.events_grid{
        .search_grid_area{
            overflow: hidden;
            clear: both;
            margin-bottom: 10px;
            .pull-left{
                .subscrib_input{
                    margin-top: 0px;
                    input{
                        border-color: #b5c0c9 !important;
                    }
                    .input-group-btn{
                        .btn-default{
                            background: #dadde3;
                        }
                    }
                }
            }
            .pull-right{
                a{
                    display: inline-block;
                    border: 1px solid #e1e4e6;
                    color: #e1e4e6;
                    font-size: 20px;
                    text-align: center;
                    height: 34px;
                    width: 34px;
                    line-height: 32px;
                    @include transition;
                    margin-top: 9px;
                    & + a{
                        margin-left: 2px;
                    }
                    &:hover, &.active{
                        border-color: $baseColor;
                        color: #fff;
                        background: $baseColor;
                    }
                }
            }
        }
        .events_item{
            margin-top: 40px;
        }
    }
}
.events_item{
    .event_image{
        position: relative;
        img{
            max-width: 100%;
        }
        .location{
            position: absolute;
            bottom: 10px;
            left: 30px;
            color: #fff;
            font-size: 14px;
            letter-spacing: .60px;
            font-weight: bold;
            font-family: $ox;
            i{
                padding-right: 8px;
            }
        }
    }
    .event_content{
        h4{
            text-transform: uppercase;
            letter-spacing: .60px;
            font-family: $ox;
            font-size: 18px;
            color: $dip;
            font-weight: bold;
            padding-top: 38px;
            @include transition;
            &:hover{
                color: $baseColor;
            }
        }
        p{
            font-family: $ox;
            font-size: 14px;
            letter-spacing: .20px;
            line-height: 26px;
            color: $gray;
            padding: 25px 0px 35px 0px;
        }
    }
}
/* End Event area css
============================================================================================ */

/* Become area css
============================================================================================ */
.become_area{
    background: url(../img/become-bg.jpg) no-repeat fixed center center;
    background-size: cover;
    height: 518px;
    padding: 40px 0px;
    .become_slider{
        background: rgba(255, 125, 1, .90);
        .become_content{
            max-width: 875px;
            margin: 0px auto;
            text-align: center;
            padding: 70px 0px;
            h4{
                font-size: 35px;
                color: #fff;
                letter-spacing: .60px;
                font-family: $ar;
                text-transform: uppercase;
                padding-bottom: 15px;
                span{
                    font-family: $ox;
                    color: $dip;
                }
            }
            h5{
                font-size: 18px;
                letter-spacing: 2px;
                font-family: $ox;
                font-weight: bold;
                color: #fff;
            }
            p{
                font-size: 14px;
                line-height: 26px;
                letter-spacing: .20px;
                font-family: $ox;
                color: #fff;
                padding: 40px 0px;
            }
        }
    }
    &.become_area2{
        background: url(../img/become-bg2.jpg) no-repeat fixed center center;
        position: relative;
        &:before{
            content: "";
            background: rgba(8, 15, 32, .80);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        .become_slider{
            background: transparent;
            .become_content{
                h4{
                    color: $baseColor;
                    span{
                        color: #fff;
                    }
                }
                .read_more_btn{
                    border-color: #fff;
                    color: #fff;
                    &:hover{
                        border-color: $baseColor;
                    }
                }
            }
        }
    }
}
/* End Become area css
============================================================================================ */

/* Need Help area css
============================================================================================ */
.need_help_area{
    background: url(../img/need-bg.jpg) no-repeat scroll center center;
    padding: 50px 0px;
    background-size: cover;
    .need_help_item{
        background: #fff;
        padding: 35px 22px 22px 30px;
        @include transitionin;
        cursor: pointer;
        h4{
            font-size: 14px;
            font-family: $ox;
            font-weight: bold;
            letter-spacing: .60px;
            padding-bottom: 24px;
            @include transitionin;
        }
        p{
            line-height: 26px;
            font-size: 14px;
            color: $gray;
            letter-spacing: .20px;
            font-family: $ox;
            @include transitionin;
            a{
                color: $dip;
                font-weight: bold;
                @include transitionin;
            }
        }
        &:hover{
            background: $dip;
            h4{
                color: #fff;
            }
            p{
                color: #fff;
                a{
                    color: $baseColor;
                }
            }
        }
    }
    &.need_help_three{
        background: #f6f8fb;
    }
}
/* End Need Help area css
============================================================================================ */

/* Needs area css
============================================================================================ */
.needs_area{
    background: url(../img/needs_area_bg.jpg) no-repeat fixed center center;
    padding: 100px 0px;
    bottom: 0px;
    position: relative;
    &:before{
        content: '';
        background: rgba(8, 15, 32, .80);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .need_food_area{
        position: relative;
    }
    &.needs_area_white{
        background: none;
        padding-top: 30px;
        &:before{
            display: none;
        }
        .need_food_item{
            border: 2px solid #ddd;
        }
    }
    &.needs_area_grid{
        background: #f8f9fa;
        &:before{
            display: none;
        }
        .need_food_item{
            border-bottom: 2px solid #dfe0e1;
            &:hover{
                border-bottom: 2px solid $baseColor;
            }
        }
    }
}
/* End Needs area css
============================================================================================ */

/* Event List area css
============================================================================================ */
.event_list_item_inner{
    margin-top: 10px;
    .event_list_item{
        background: #f3f5f7;
        padding: 15px 0px;
        clear: both;
        overflow: hidden;
        margin-top: 40px;
        .event_left_img{
            position: relative;
            overflow: hidden;
            z-index: 2;
            &:before{
                content: '';
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: url(../img/event/event-list/event-shadow.png) no-repeat scroll center center;
                opacity: 0;
                transition: all 200ms ease;
                background-size: cover;
            }
            img{
                max-width: 100%;
                width: 100%;
            }
            .hover_content{
                position: absolute;
                left: 15px;
                bottom: -100px;
                width: 100%;
                color: #fff;
                z-index: 2;
                transition: all 300ms ease;
                h6{
                    font-size: 16px;
                    font-family: $ox;
                    font-weight: bold;
                    letter-spacing: .96px;
                }
            }
        }
        .event_right_content{
            h4{
                font-size: 18px;
                font-family: $ox;
                font-weight: bold;
                color: $dip;
                letter-spacing: 1.08px;
                text-transform: uppercase;
                padding: 26px 0px 13px 0px;
            }
            .event_date{
                a{
                    font-size: 14px;
                    color: $gray;
                    font-family: $ox;
                    letter-spacing: .28px;
                    @include transition;
                    margin-right: 25px;
                    &:hover{
                        color: $baseColor;
                    }
                    & + a{
                        margin-right: 0px;
                    }
                }
            }
            p{
                font-size: 14px;
                font-family: $ox;
                color: $gray;
                line-height: 26px;
                letter-spacing: .28px;
                padding: 25px 0px 40px 0px;
            }
            .read_more_btn{
                display: inline-block;
                margin-right: 12px;
            }
            .bg_btn{
                display: inline-block;
                max-width: 114px;
            }
        }
        &:hover{
            .event_left_img{
                &:before{
                    opacity: 1;
                }
                .hover_content{
                    bottom: 20px;
                }
            }
        }
    }
}
/* End Event List area css
============================================================================================ */

/* Event Single area css
============================================================================================ */
.event_single_inners{
    .event_single_img{
        position: relative;
        img{
            max-width: 100%;
        }
        .event_date{
            position: absolute;
            bottom: 0px;
            right: 0px;
            background: $baseColor;
            color: #fff;
            h6{
                font-size: 16px;
                font-family: $ox;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: .96px;
                line-height: 40px;
                padding: 0px 25px;
                i{
                    padding-right: 5px;
                }
            }
        }
    }
    .event_single_title{
        border-bottom: 1px solid #ddd;
        padding-bottom: 35px;
        h3{
            font-size: 18px;
            font-family: $ox;
            font-weight: bold;
            color: #243a4f;
            text-transform: uppercase;
            letter-spacing: 1.08px;
            padding-top: 35px;
            padding-bottom: 10px;
        }
        a{
            font-size: 14px;
            color: #748491;
            font-family: $ox;
            margin-right: 25px;
            letter-spacing: .84px;
            i{
                padding-right: 5px;
            }
            & + a{
                margin-right: 0px;
            }
        }
    }
    .event_content{
        p{
            font-size: 14px;
            line-height: 26px;
            color: #748491;
            font-family: $ox;
            letter-spacing: .84px;
            padding-top: 35px;
        }
    }
    .event_quote{
        max-width: 710px;
        margin: 38px auto 0px;
        border: 1px solid #f8f8f8;
        background: #f8fcff;
        padding: 25px;
        p{
            line-height: 26px;
            font-size: 16px;
            color: #748491;
            font-family: $ox;
            font-weight: 300;
            font-style: italic;
            letter-spacing: .32px;
        }
        h4{
            font-size: 16px;
            color: #b5c0c9;
            font-family: $rob;
            font-weight: 300;
            font-style: italic;
            padding-top: 27px;
            letter-spacing: .32px;
        }
    }
    .event_btn_text{
        p{
            font-size: 14px;
            line-height: 26px;
            color: #748491;
            font-family: $ox;
            letter-spacing: .84px;
            padding: 30px 0px 70px 0px;
        }
        .bg_btn{
            display: inline-block;
            max-width: 154px;
            margin-right: 15px;
        }
        .read_more_btn{
            display: inline-block;
            max-width: 154px;
        }
    }
}
/* End Event Single area css
============================================================================================ */