/* Fun Fact area css
============================================================================================ */
.fun_fact_area{
    background: url(../img/counter-bg.jpg) no-repeat fixed;
    background-size: cover;
    position: relative;
    z-index: 2;
    padding: 100px 0px;
    &:before{
        content: "";
        background: rgba(8, 15, 32, .80);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
    .title_fun{
        padding-bottom: 45px;
    }
    &.white_ver{
        background: none;
        &:before{
            display: none;
        }
        .title_fun{
            h2{
                color: $dip;
            }
            p{
                color: $gray;
            }
        }
        .fun_fact_item{
            border-left: 1px solid #ddd;
            .media{
                .media-left{
                    i{
                        color: #d8dbe1;
                    }
                }
                .media-body{
                    h4{
                        color: $dip;
                    }
                    p{
                        color: $gray;
                    }
                }
            }
        }
    }
}
.fun_fact_item{
    border-left: 1px solid #2e3241;
    padding-left: 30px;
    .media{
        padding: 30px 0px;
        .media-left{
            padding-right: 15px;
            vertical-align: middle;
            i{
                font-size: 52px;
                color: #fff;
            }
        }
        .media-body{
            vertical-align: middle;
            h4{
                font-size: 38px;
                color: #fff;
                font-family: $ox;
                font-weight: bold;
                padding-bottom: 5px;
                span{
                    color: $baseColor;
                }
            }
            p{
                font-size: 14px;
                letter-spacing: .60px;
                font-family: $ox;
                font-weight: bold;
                color: #fff;
            }
        }
    }
}
/* End Fun fact area css
============================================================================================ */

/* Count Down css
============================================================================================ */
.charity_person{
    img{
        max-width: 100%;
    }
}
.soon{
    max-width: 460px;
    margin-top: 120px;
    .soon-ring-progress{
        background-color:#ddd;
        border-top-width:10px;
        border-bottom-width:1px;
    }
    .soon-ring.soon-visual{
        canvas{
            height: 90px !important;
            width: 90px !important;
        }
    }
    .soon-group-inner{
        .soon-group.soon-group-sub{
            height: 90px;
            width: 90px;
            padding-left: 20px;
            &:first-child{
                padding-left: 0px;
            }
            .soon-group-inner{
                .soon-repeater.soon-value {
                    width: 90px;
                    .soon-text {
                        font-size: 22px;
                        font-family: $ar;
                        letter-spacing: .14px;
                        color: $dip;
                    }
                }
                .soon-text.soon-label{
                    font-size: 12px !important; 
                    text-transform: uppercase;
                    color: $gray;
                    letter-spacing: .20px;
                    width: 116px !important;
                    bottom: 28%;
                }
            }
        }
    }
}
/* End Count Down css
============================================================================================ */