ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration:none;
    &:hover, &:focus{
       text-decoration:none;
        outline: none;
    }
}
.row.m0{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: $ox;
    font-size: 14px;
}
body, p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}

.grid-sizer{
    width: 25%;
}
.grid-sizer-ms{
    width: 20%;
}
.map_area{
    img{
        max-width: 100%;
    }
}
#success{
    padding-top: 15px;
    overflow: hidden;
    clear: both;
    display: none;
}
#error{
    padding-top: 10px;
    clear: both;
    overflow: hidden;
    display: none;
}
.download_btn{
    a{
        line-height: 58px;
        background: $baseColor;
        text-align: center;
        width: 205px;
        display: inline-block;
        border-radius: 30px;
        text-transform: uppercase;
        color: #fff;
        font-family: $ox;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: .20px;
        @include transitionin;
        border: 4px double $baseColor;
        &:hover{
            background: transparent;
            border: 4px double $baseColor;
        }
    }
}


/* Services title css
============================================================================================ */
.service_title{
    text-align: center;
    h2{
        font-size: 35px;
        color: $dip;
        font-family: $ar;
        text-transform: uppercase;
        letter-spacing: .20px;
        position: relative;
        display: inline-block;
        span{
            color: $baseColor;
        }
        &:before{
            content: "";
            background: #879fab;
            height: 1px;
            width: 70px;
            position: absolute;
            left: -94px;
            top: 21px;
        }
        &:after{
            content: "";
            background: #879fab;
            height: 1px;
            width: 70px;
            position: absolute;
            right: -94px;
            top: 21px;
        }
    }
    p{
        color: #b5c0c9;
        font-size: 16px;
        font-family: $ox;
        letter-spacing: .60px;
        padding-top: 15px;
    }
}

.title_fun{
    text-align: center;
    h2{
        font-size: 35px;
        color: #fff;
        font-family: $ar;
        text-transform: uppercase;
        letter-spacing: .20px;
        position: relative;
        display: inline-block;
        padding-bottom: 18px;
        span{
            color: $baseColor;
        }
    }
    p{
        font-size: 14px;
        line-height: 26px;    
        letter-spacing: .20px;
        font-family: $ox;
        max-width: 720px;
        margin: 0 auto;
        color: #b5c0c9;
    }
}
.says_title{
    h3{
        font-size: 22px;
        letter-spacing: .20px;
        font-family: $ox;
        font-weight: bold;
        color: $dip;
        text-transform: uppercase;
    }
}
.title_dark{
    text-align: center;
    h2{
        font-size: 35px;
        letter-spacing: .20px;
        font-family: $ar;
        text-transform: uppercase;
        color: $dip;
        padding-bottom: 10px;
    }
    p{
        font-size: 16px;
        letter-spacing: .60px;
        color: #b5c0c9;
        font-family: $ox;
        font-weight: bold;
    }
}
.related_title{
    font-family: $ox;
    font-size: 22px;
    color: $dip;
    letter-spacing: .44px;
    border-bottom: 1px solid #e1e4e6;
    padding-bottom: 10px;
}
/* Icon Buzz */
@-webkit-keyframes hvr-icon-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-icon-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

/* Services title css
============================================================================================ */

/* Radio Btn css
============================================================================================ */
.donate_chose .form-group{
    position: relative;
}
.donate_chose .form-group input[type=radio]{
    position: absolute;
    visibility: hidden;
}
.donate_chose .form-group label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 0px 25px 25px 30px;
    margin: 0px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}
.donate_chose .form-group .check{
    display: block;
    position: absolute;
    border: 2px solid $dip;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 3px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
.donate_chose .form-group .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.donate_chose .form-group input[type=radio]:checked ~ .check {
    border: 2px solid $dip;
}

.donate_chose .form-group input[type=radio]:checked ~ .check::before{
    background: $baseColor;
}
.donate_chose .form-group input[type=radio]:checked ~ label{
    color: $dip;
}
/* End Radio Btn Css
============================================================================================ */