/* Services area css
============================================================================================ */
.our_service_area{
    padding: 135px 0px 100px 0px;
    .service_title{
        padding-bottom: 15px;
    }
    &.home2{
        padding: 100px 0px;
    }
}
.service_single_title{
    text-align: center;
    h2{
        color: $dip;
        font-family: $ox;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .56px;
        padding-bottom: 30px;
    }
    p{
        font-size: 14px;
        line-height: 26px;
        color: $gray;
        font-family: $ox;
        letter-spacing: .28px;
        max-width: 920px;
        margin: auto;
    }
}
.service_inner{
    .media{
        border: 1px solid #ddd;
        margin-top: 60px;
        padding: 40px 30px 40px 20px;
        @include transition;
        cursor: pointer;
        .media-left{
            vertical-align: middle;
            padding-right: 30px;
            img{
            }
        }
        .media-body{
            padding-left: 30px;
            position: relative;
            &:before{
                content: "";
                height: 100px;
                width: 1px;
                left: 0px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: #ddd;
                @include transition;
            }
            h4{
                letter-spacing: .20px;
                font-size: 14px;
                color: $dip;
                font-family: $ox;
                text-transform: uppercase;
                font-weight: bold;
                padding-bottom: 28px;
                @include transition;
                &:hover{
                    color: $baseColor;
                }
            }
            p{
                color: #748491;
                font-family: $ox;
                font-size: 14px;
                line-height: 26px;
                letter-spacing: .20px;
            }
        }
        &:hover{
            border: 1px solid $baseColor;
            .media-body{
                &:before{
                    background: $baseColor;
                }
            }
        }
    }
}
/* End Services area css
============================================================================================ */

/* Mission area css
============================================================================================ */
.mission_area{
    background: url(../img/text_item_bg.jpg) no-repeat scroll center center;
    position: relative;
    z-index: 2;
    padding: 100px 0px;
    &:before{
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        background: rgba(8, 15, 32, .90);
        z-index: -1;
        width: 100%;
        height: 100%;
    }
}
.mission_item{
    text-align: center;
    h4{
        font-size: 24px;
        font-family: $ox;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .20px;
        padding-bottom: 50px;
    }
    p{
        line-height: 26px;
        font-size: 14px;
        color: #b5c0c9;
        font-family: $ox;
        font-weight: bold;
        letter-spacing: .20px;
        max-width: 290px;
        margin: 0 auto;
    }
}
.respect_item{
    text-align: center;
    h4{
        font-size: 40px;
        color: #fff;
        font-family: $ox;
        letter-spacing: .20px;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 28px;
        span{
            color: #ff7d01;
        }
    }
    p{
        font-size: 14px;
        line-height: 26px;
        color: #fff;
        letter-spacing: .20px;
        font-family: $ox;
        padding-bottom: 35px;
    }
}
.cause_area{
    border: 1px solid #ddd;
    padding: 60px 0px 60px 80px;
    margin-top: 100px;
    .cause_content{
        h3{
            position: relative;
            padding: 40px 0px 30px 0px;
            font-size: 36px;
            color: $dip;
            font-family: $ox;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .20px;
            span{
                color: $baseColor;
            }
            &:before{
                content: attr(data-line);
                position: absolute;
                top: 0px;
                left: -22px;
                width: 340px;
                text-align: center;
                color: #ededed;
                font-size: 60px;
                line-height: 60px;
                z-index: -1;
                letter-spacing: .20px;
                text-transform: uppercase;
                font-family: $ox;
                font-weight: bold;
                text-align: left;
            }
        }
        p{
            line-height: 26px;
            font-size: 14px;
            color: $gray;
            font-family: $ox;
            font-weight: bold;
            max-width: 397px;
            padding-top: 15px;
            padding-bottom: 50px;
        }
    }
    .count_item{
        position: relative;
        .count_main{
            .pie-title-center{
                display: inline-block;
                position: relative;
                .pie-value{
                    position: absolute;
                    top: 43%;
                    text-align: center;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    font-size: 50px;
                    font-family: $ox;
                    font-weight: bold;
                    letter-spacing: .20px;
                    color: $dip;
                }
                .colected{
                    position: absolute;
                    top: 63%;
                    text-align: center;
                    left: 60%;
                    transform: translateX(-50%) translateY(-50%);
                    font-size: 14px;
                    color: #dee1e6;
                    font-family: $ox;
                    font-weight: bold;
                }
                img{
                    position: absolute;
                    left: -27px;
                    top: -25px;
                    width: 260px;
                    height: 135px;
                }
            }
            h4{
                font-size: 24px;
                color: $dip;
                font-family: $ox;
                font-weight: bold;
                letter-spacing: .20px;
                padding-top: 25px;
                span{
                    color: $baseColor;
                }
            }
        }
        .total_content{
            position: absolute;
            right: 35px;
            top: 0px;
            .total_item{
                margin-top: 30px;
                h4{
                    font-size: 14px;
                    color: $gray;
                    letter-spacing: .20px;
                    font-family: $ox;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: relative;
                    text-align: right;
                    &:before{
                        content: "";
                        left: -127px;
                        top: 7px;
                        position: absolute;
                        width: 135px;
                        height: 1px;
                        background: #dee1e6;
                    }
                }
                h6{
                    text-align: right;
                    color: $dip;
                    font-family: $ox;
                    font-weight: bold;
                    letter-spacing: .20px;
                    font-size: 20px;
                    padding-top: 15px;
                }
                &:nth-child(2){
                    h4{
                        &:before{
                            content: "";
                            left: -105px;
                            top: 7px;
                            position: absolute;
                            width: 115px;
                            height: 1px;
                            background: #dee1e6;
                        }
                    }
                }
                &:nth-child(3){
                    h4{
                        &:before{
                            content: "";
                            left: -166px;
                            top: 7px;
                            position: absolute;
                            width: 140px;
                            height: 1px;
                            background: #dee1e6;
                        }
                    }
                }
            }
        }
    }
}
/* End Mission area css
============================================================================================ */

/* Causes area css
============================================================================================ */
.causes_area{
    padding: 100px 0px;
    .service_title{
        padding-bottom: 50px;
    }
    &.related_cause{
        .related_title{
            margin-bottom: 30px;
        }
        .causes_item{
            &:hover{
                .causes_item_img{
                    .urgent_btn{
                        h4{
                            &:before{
                                -webkit-animation-name: hvr-icon-buzz;
                                animation-name: hvr-icon-buzz;
                                -webkit-animation-duration: 0.15s;
                                animation-duration: 0.15s;
                                -webkit-animation-timing-function: linear;
                                animation-timing-function: linear;
                                -webkit-animation-iteration-count: infinite;
                                animation-iteration-count: infinite;
                            }
                        }
                    }
                }
            }
        }
    }
}
.causes_item{
    .causes_item_img{
        position: relative;
        z-index: 2;
        overflow: hidden;
        img{
            max-width: 100%;
        }
        .causes_progress{
            max-width: 270px;
            height: 25px;
            border-radius: 12.5px;
            margin: 0 auto;
            position: absolute;
            left: 0px;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            background: $dip;
            text-align: center;
            color: #fff;
            opacity: 0;
            z-index: 2;
            @include transition;
            h4{
                position: relative;
                z-index: 2;
                font-size: 18px;
                color: #fff;
                letter-spacing: .20px;
                line-height: 25px;
            }
            span{
                position: absolute;
                top: 0px;
                width: 85%;
                left: 0px;
                height: 25px;
                background: $baseColor;
                border-radius: 12.5px;
                z-index: 1;
            }
        }
    }
    .causes_rate{
        overflow: hidden;
        background: $dip;
        color: #fff;
        padding: 18px 22px;
        position: relative;
        z-index: 2;
        .pull-left{
            h4{
                font-family: $ox;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #fff;
                span{
                    color: $baseColor;
                }
            }
        }
        .pull-right{
            h4{
                font-family: $ox;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: $dip;
                span{
                    color: #fff;
                }
            }
        }
        &:before{
            content: "";
            background: $baseColor;
            position: absolute;
            right: -16px;
            top: 0px;
            width: 196px;
            height: 100%;
            z-index: -1;
            transform: skewX(-30deg);
        }
    }
    .causes_content{
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 35px 11px 35px 20px;
        h3{
            font-size: 18px;
            font-family: $ox;
            font-weight: bold;
            color: $dip;
            text-transform: uppercase;
            letter-spacing: .20px;
            @include transition;
            &:hover{
                color: $baseColor;
            }
        }
        p{
            font-size: 14px;
            line-height: 26px;
            letter-spacing: .20px;
            color: #748491;
            font-family: $ox;
            padding: 20px 0px 25px 0px;
        }
        .read_more_btn{
            max-width: 126px;
        }
    }
    &:hover{
        .causes_item_img{
            &:before{
                left: 0px;
            }
            .causes_progress{
                opacity: 1;
            }
        }
    }
}
/* End Causes area css
============================================================================================ */

/* End Causes area css
============================================================================================ */
.charity_area{
    background: url(../img/charity_bg.jpg) no-repeat scroll center center;
    background-size: cover;
    padding: 45px 0px 100px 0px;
}

.charity_content{
    .right_main_content{
        padding-top: 85px;
        h4{
            padding-top: 0px;
        }
    }
}
.next_event{
    margin-top: 140px;
    position: relative;
    z-index: 2;
    border-top: 1px solid #ddd;
    .backend_font{
        font-size: 110px;
        color: #ddd;
        position: absolute;
        left: 0px;
        top: 50px;
        z-index: -1;
    }
    h4{
        font-size: 24px;
        line-height: 35px;
        color: $dip;
        font-family: $ox;
        text-transform: uppercase;
        max-width: 400px;
        padding-top: 70px;
        padding-bottom: 20px;
        font-weight: bold;
        span{
            color: $baseColor;
        }
    }
    a{
        font-size: 14px;
        letter-spacing: .40px;
        font-family: $ox;
        color: $dip;
        i{
            color: $baseColor;
            padding-right: 10px;
        }
    }
}
.charity_area_three{
    .charity_content{
        .right_main_content{
            .read_btn_area{
                
            }
        }
    }
    .charity_person{
        text-align: right;
    }
}
.charity_event_about{
    background: none;
    padding-top: 0px;
    .charity_content{
        .next_event{
            margin: 0px;
            border: none;
        }
    }
    .soon{
        margin-top: 35px;
    }
}
.border_class{
    border-top: 1px solid #ddd;
}
/* End Causes area css
============================================================================================ */

/* Our vision area css
============================================================================================ */
.our_vision_area{
    background: url(../img/vision-bg.jpg) no-repeat fixed center center;
    background-size: cover;
    padding: 100px 0px;
}
.vision_item{
    background: rgba(255, 255, 255, .90);
    min-height: 445px;
    text-align: center;
    h4{
        font-size: 24px;
        letter-spacing: .20px;
        text-transform: uppercase;
        font-family: $ox;
        font-weight: bold;
        color: $dip;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    p{
        font-size: 14px;
        letter-spacing: .20px;
        line-height: 26px;
        color: $gray;
        font-weight: bold;
        font-family: $ox;
        max-width: 268px;
        margin: auto;
    }
    &.black_vision{
        background: rgba(8, 15, 32, .90);
        h4{
            font-size: 40px;
            letter-spacing: .20px;
            color: #fff;
            padding-bottom: 35px;
            span{
                color: $baseColor;
            }
        }
        p{
            max-width: none;
            color: #fff;
            padding-bottom: 40px;
        }
    }
}
/* End Our vision area css
============================================================================================ */

/* History area css
============================================================================================ */
.our_history_area{
    padding: 50px 0px 70px 0px;
    .history_image{
        max-width: 285px;
        .history_box{
            border: 10px solid #ddd;
            min-height: 480px;
            img{
                padding-left: 60px;
                padding-top: 60px;
                max-width: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
    }
}
.history_content{
    padding-left: 25px;
    padding-top: 75px;
    h3{
        font-size: 30px;
        text-transform: uppercase;
        font-family: $ox;
        font-weight: bold;
    }
    h4{
        font-size: 14px;
        font-family: $ox;
        letter-spacing: .20px;
        font-weight: bold;
        line-height: 26px;
        padding: 40px 0px 30px 0px;
    }
    p{
        font-size: 14px;
        line-height: 20px;
        font-family: $ox;
        color: $gray;
        padding-bottom: 50px;
    }
}
/* End History area css
============================================================================================ */

/* Doing area css
============================================================================================ */
.doing_area{
    background: url(../img/bg_dotte.jpg) no-repeat scroll center center;
    padding: 80px 0px 135px 0px;
    .doing_content{
        h4{
            font-size: 30px;
            letter-spacing: .20px;
            font-weight: bold;
            font-family: $ox;
            text-transform: uppercase;
            color: $baseColor;
            padding-bottom: 30px;
        }
        p{
            font-size: 14px;
            line-height: 26px;
            color: $gray;
            font-family: $ox;
        }
    }
}
.doing_item{
    margin-top: -15px;
    .media{
        margin-top: 60px;
        .media-left{
            padding-right: 24px;
            .img_box{
                border: 1px solid #dfe4e8;
                text-align: center;
                min-height: 110px;
                line-height: 110px;
                padding: 0px 14px;
                @include transition;
            }
            img{
            }
        }
        .media-body{
            vertical-align: middle;
            h4{
                color: $dip;
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: .60px;
                font-family: $ox;
                font-weight: bold;
            }
            p{
                font-size: 14px;
                font-family: $ox;
                letter-spacing: .60px;
                line-height: 26px;
                color: $gray;
                padding-top: 15px;
            }
        }
        &:hover{
            .media-left{
                .img_box{
                    border-color: $baseColor;
                }
            }
        }
    }
}
.doing_details{
    padding-top: 20px;
    .doing_details_item{
        background: #fff;
        margin-top: 5px;
        border: 1px solid #ddd;
        padding: 28px 35px;
        @include transition;
        h5{
            font-size: 14px;
            font-family: $ox;
            font-weight: bold;
            letter-spacing: .60px;
            color: $dip;
            padding-bottom: 25px;
        }
        p{
            font-size: 14px;
            color: $gray;
            font-family: $ox;
            line-height: 26px;
            letter-spacing: .20px;
            a{
                color: $dip;
                @include transition;
            }
        }
        &:hover{
            background: #ddd;
            a{
                color: $baseColor;
            }
        }
    }
}
/* End Doing area css
============================================================================================ */

/* Our Mission area css
============================================================================================ */
.our_mission_area{
    background: #ddd;
    padding: 110px 0px;
}
.our_mission_img{
    img{
        max-width: 100%;
    }
}
.our_mission_content{
    h4{
        text-transform: uppercase;
        letter-spacing: .20px;
        font-family: $ox;
        font-weight: bold;
        font-size: 30px;
        padding-top: 15px;
    }
    p{
        font-size: 14px;
        line-height: 26px;
        letter-spacing: .20px;
        font-family: $ox;
        color: $gray;
        padding-right: 28px;
        padding: 35px 0px;
    }
    a{
        text-transform: uppercase;
        font-size: 14px;
        color: $dip;
        letter-spacing: .20px;
        @include transition;
        i{
            padding-left: 8px;
            @include transition;
        }
        &:hover{
            color: $baseColor;
            i{
                color: $baseColor;
            }
        }
    }
}
/* End Our Mission area css
============================================================================================ */

/* Causes filter area css
============================================================================================ */
.causes_item_area{
    padding: 100px 0px;
    .causes_filter_inner{
        clear: both;
        overflow: hidden;
        border: 1px solid #f8f8f8;
        padding: 16px 20px 16px 22px;
        .causes_filter{
            li{
                display: inline-block;
                margin-right: 25px;
                a{
                    display: inline-block;
                    padding: 0px 35px;
                    border: 1px solid #aeb8c0;
                    color: #aeb8c0;
                    line-height: 38px;
                    border-radius: 19px;
                    font-size: 14px;
                    letter-spacing: .20px;
                    font-family: $ox;
                }
                &:last-child{
                    margin-right: 0px;
                }
                &:hover, &.active{
                    a{
                        border: 1px solid $baseColor;
                        color: $baseColor;
                    }
                }
            }
        }
        .causes_grid{
            vertical-align: middle;
            padding-top: 2px;
            a{
                margin-left: 5px;
                &:first-child{
                    margin-left: 0px;
                }
            }
            i{
                vertical-align: middle;
                font-size: 20px;
                color: #e1e4e6;
                border: 1px solid #e1e4e6;
                padding: 7px;
                
                &.active{
                    background: $baseColor;
                    color: #fff;
                    border: 1px solid $baseColor;
                }
            }
        }
    }
}
.causes_main{
    margin-top: 20px;
    .causes_item{
        margin-top: 30px;
        .causes_item_img{

        }
        &:hover{
            .causes_item_img{
                .urgent_btn{
                    h4{
                        &:before{
                            -webkit-animation-name: hvr-icon-buzz;
                            animation-name: hvr-icon-buzz;
                            -webkit-animation-duration: 0.15s;
                            animation-duration: 0.15s;
                            -webkit-animation-timing-function: linear;
                            animation-timing-function: linear;
                            -webkit-animation-iteration-count: infinite;
                            animation-iteration-count: infinite;
                        }
                    }
                }
            }
        }
    }
}
.pagination_area{
    text-align: center;
    margin-top: 60px;
    ul{
        li{
            display: inline-block;
            margin-right: 15px;
            a{
                display: inline-block;
                height: 36px;
                width: 36px;
                border: 1px solid $gray;
                border-radius: 50%;
                line-height: 34px;
                text-align: center;
                font-size: 16px;
                color: $gray;
                font-family: $ox;
                font-weight: bold;
                @include transition;
            }
            &:first-child{
                a{
                    border: 1px solid #f7f7f7;
                }
            }
            &:last-child{
                margin-right: 0px;
                a{
                    border: 1px solid #f7f7f7;
                }
            }
            &:hover, &.active{
                a{
                    color: $baseColor;
                    border: 1px solid $baseColor;
                }
            }
        }
    }
}
.urgent_btn{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    h4{
        color: #fff;
        font-size: 12px;
        letter-spacing: .20px;
        font-family: $ox;
        font-weight: bold;
        padding: 0px 25px 0px 40px;
        line-height: 24px;
        border-radius: 12px;
        background: #ff3951;
        @include transition;
        position: relative;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        &:before{
            content: "\f0e7";
            position: absolute;
            left: 24px;
            top: 4px;
            font: normal normal normal 14px/1 FontAwesome;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }
}
/* End Causes filter area css
============================================================================================ */

/* Causes list area css
============================================================================================ */
.causes_main_list{
    margin-top: 50px;
    .media{
        .media-left{
            padding-right: 0px;
            .causes_list_img{
                position: relative;
            }
        }
        .media-body{
            background: #fcfcfc;
            padding-left: 40px;
            padding-top: 45px;
            border: 1px solid #ddd;
            .causes_left_content{
                width: 70%;
                float: left;
                padding-right: 90px;
                h4{
                    letter-spacing: .36px;
                    font-size: 18px;
                    color: $dip;
                    font-family: $ox;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                p{
                    letter-spacing: .28px;
                    font-family: $ox;
                    line-height: 26px;
                    color: $gray;
                    padding: 30px 0px 35px 0px;
                }
                .read_more_btn{
                    max-width: 180px;
                }
                .share_causes{
                    display: inline-block;
                    text-align: right;
                    float: right;
                    padding-top: 10px;
                    h5{
                        display: inline-block;
                        font-size: 12px;
                        letter-spacing: .24px;
                        font-family: $ox;
                        color: $gray;
                    }
                    ul{
                        display: inline-block;
                        li{
                            display: inline-block;
                            margin-left: 6px;
                            a{
                                color: $gray;
                                font-size: 12px;
                                @include transition;
                            }
                            &:hover{
                                a{
                                    color: $baseColor;
                                }
                            }
                        }
                    }
                }
            }
            .causes_right_content{
                width: 30%;
                float: right;
                text-align: center;
                .cause_area{
                    border: none;
                    padding: 0px;
                    margin: 0px;
                    .count_item{
                        .count_main{
                            .pie-title-center{
                                .pie-value{
                                    font-size: 20px;
                                    top: 46%;
                                }
                            }
                        }
                        h4{
                            font-size: 12px;
                            font-family: $ox;
                            color: $dip;
                            letter-spacing: 2.4px;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding-top: 20px;
                            span{
                                color: $baseColor;
                                letter-spacing: .96px;
                                font-size: 16px;
                            }
                        }
                        h5{
                            font-size: 12px;
                            font-family: $ox;
                            color: $dip;
                            letter-spacing: 2.4px;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding-top: 10px;
                            span{
                                letter-spacing: .96px;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        &:hover{
            .media-left{
                .causes_list_img{
                    .urgent_btn{
                        h4{
                            &:before{
                                -webkit-animation-name: hvr-icon-buzz;
                                animation-name: hvr-icon-buzz;
                                -webkit-animation-duration: 0.15s;
                                animation-duration: 0.15s;
                                -webkit-animation-timing-function: linear;
                                animation-timing-function: linear;
                                -webkit-animation-iteration-count: infinite;
                                animation-iteration-count: infinite;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* End Causes list area css
============================================================================================ */

/* Causes sidebar list area css
============================================================================================ */
.causes_sidebar_area{
    padding: 100px 0px;
    .row.causes_sidebar_total{
        .causes_sidebar_inner{
            .media{
                margin-top: 50px;
                .media-left{
                    padding-right: 0px;
                    .causes_item{
                        .causes_item_img{
                            img{
                                width: auto;
                                max-width: none;
                            }
                        }
                    }
                }
                .media-body{
                    background: #fcfcfc;
                    padding-left: 30px;
                    border: 1px solid #ddd;
                    padding-top: 45px;
                    .causes_s_content{
                        h4{
                            letter-spacing: .36px;
                            font-size: 18px;
                            color: $dip;
                            font-family: $ox;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        p{
                            letter-spacing: .28px;
                            font-family: $ox;
                            line-height: 26px;
                            color: $gray;
                            padding: 20px 33px 25px 0px;
                        }
                        .progress_bar_main{
                            max-width: 317px;
                            position: relative;
                            margin-bottom: 30px;
                            .progress_inner{
                                width: 100%;
                                position: relative;
                                background: #f1f1f1;
                                height: 3px;
                                .progress-bar{
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    height: 100%;
                                    background: $baseColor;
                                }
                            }
                            h5{
                                position: absolute;
                                right: -40px;
                                top: -7px;
                                color: $baseColor;
                                font-size: 14px;
                                font-family: $ox;
                                font-weight: bold;
                                letter-spacing: .28px;
                            }
                        }
                    }
                }
                &:first-child{
                    margin-top: 0px;
                }
            }
        }
    }
}
/* End Causes sidebar list area css
============================================================================================ */

/* Causes single area css
============================================================================================ */
.causes_single_details{
    padding-top: 100px;
    .causes_single_inner{
        h4{
            font-size: 34px;
            color: $dip;
            font-family: $ox;
            font-weight: bold;
            padding-bottom: 15px;
        }
        .date_causes{
            h5{
                font-size: 16px;
                color: #b5c0c9;
                font-family: $ox;
                padding-bottom: 30px;
                a{
                    color: $baseColor;
                }
                span{
                    color: #748491;
                }
            }
        }
        img{
            max-width: 100%;
            margin-bottom: 40px;
        }
        p{
            font-size: 14px;
            letter-spacing: .28px;
            line-height: 26px;
            font-family: $ox;
            color: $gray;
            & + p{
                padding-top: 40px;
            }
        }
    }
}
.graph_area{
    padding-top: 55px;
    .left_graph{
        h4{
            font-size: 16px;
            color: $dip;
            letter-spacing: .32px;
            padding-bottom: 28px;
            font-weight: bold;
        }
    }
}
.graph_chart{
    h4{
        font-size: 16px;
        letter-spacing: .32px;
        font-family: $ox;
        color: $dip;
        padding-bottom: 40px;
    }
    .left_chart_text{
        display: inline-block;
        vertical-align: top;
        padding-right: 80px;
        h5{
            text-transform: uppercase;
            font-family: $ox;
            color: $dip;
            letter-spacing: 2.4px;
            margin-bottom: 15px;
            span{
                font-size: 16px;
                color: $dip;
                font-weight: bold;
                letter-spacing: .96px;
            }
        }
        .read_more_btn{
            max-width: 108px;
            margin-top: 30px;
        }
    }
    .right_chart{
        display: inline-block;
        .count_main{
            .pie-title-center{
                position: relative;
                .pie-value{
                    position: absolute;
                    left: 0px;
                    top: 48%;
                    transform: translateY(-50%);
                    width: 100%;
                    text-align: center;
                    font-size: 28.46px;
                    color: $dip;
                    font-weight: bold;
                }
            }
        }
    }
}
.donators_slides{
    padding-top: 90px;
    max-width: 555px;
    h4{
        font-size: 16px;
        color: $dip;
        font-family: $ox;
        letter-spacing: .96px;
        border-bottom: 1px solid #e1e4e6;
        padding-bottom: 25px;
    }
    .donators_active{
        margin-top: 30px;
        .owl-controls{
            .owl-nav{
                position: absolute;
                right: 0px;
                top: -68px;
                .owl-prev, .owl-next{
                    display: inline-block;
                    font-size: 16px;
                    color: #748491;
                    height: 23px;
                    width: 23px;
                    border-radius: 50%;
                    background: #e1e4e6;
                    text-align: center;
                }
                .owl-prev{
                    margin-right: 5px;
                }
                .owl-next{
                    
                }
            }
        }
    }
}
.tags_area{
    padding-top: 143px;
    h4{
        font-size: 16px;
        font-family: $ox;
        color: $dip;
        letter-spacing: .96px;
        border-bottom: 1px solid #e1e4e6;
        padding-bottom: 25px;
    }
    ul{
        margin-right: -10px;
        margin-bottom: -10px;
        overflow: hidden;
        clear: both;
        margin-top: 30px;
        li{
            float: left;
            overflow: hidden;
            margin-right: 10px;
            margin-bottom: 10px;
            a{
                display: block;
                padding: 0px 19px;
                background: #e5e8ea;
                line-height: 30px;
                border-radius: 5px;
                font-size: 14px;
                color: #9fa1a5;
                font-family: $ox;
                letter-spacing: .84px;
            }
        }
    }
}
/* End Causes single area css
============================================================================================ */

/* Causes single Tab area css
============================================================================================ */
.causes_single_tab_area{
    .causes_single_tab_inner{
        background: #f8f8f8;
        clear: both;
        overflow: hidden;
        .nav-tabs{
            border: none;
            li{
                width: calc(100% / 3);
                text-align: center;
                margin-bottom: 0px;
                margin-right: -1px;
                a{
                    font-size: 18px;
                    color: $gray;
                    font-family: $ox;
                    letter-spacing: .36px;
                    border: none;
                    border-left: 1px solid #eaedee;
                    border-right: 1px solid #eaedee;
                    margin: 0px;
                    padding: 0px;
                    line-height: 50px;
                }
                &:hover, &.active{
                    a{
                        background: #fff;
                        border-color: #fff;
                        color: $dip;
                    }
                }
            }
        }
        .tab-content{
            .tab-pane{
                padding: 0px 100px;
                border-top: 1px solid #eaedee;
                .single_tabe_content{
                    padding-top: 5px;
                    p{
                        padding-top: 40px;
                        font-size: 14px;
                        line-height: 26px;
                        letter-spacing: .28px;
                        color: $gray;
                        font-family: $ox;
                    }
                    .row.causes_tab_part{
                        padding-top: 40px;
                        padding-bottom: 40px;
                    }
                    .causes_tab_part{
                        .single_tab_count{
                            background: #fff;
                            padding: 40px 30px 35px 30px;
                            .graph_chart{
                                padding-bottom: 10px;
                                h4{
                                    font-size: 16px;
                                    letter-spacing: .32px;
                                    color: $dip;
                                    text-transform: uppercase;
                                }
                                .left_chart_text{
                                    padding-right: 0px;
                                }
                                .right_chart{
                                    position: absolute;
                                    right: 65px;
                                    bottom: 37px;
                                }
                            }
                        }
                    }
                    .causes_tab_list{
                        .causes_tab_list_inner{
                            background: #fff;
                            overflow: hidden;
                            clear: both;
                            padding: 65px 0px;
                            ul{
                                width: calc(100% / 2);
                                float: left;
                                list-style: disc;
                                color: $gray;
                                padding-left: 65px;
                                li{
                                    margin-bottom: 5px;
                                    a{
                                        font-size: 14px;
                                        color: $gray;
                                        font-family: $ox;
                                        line-height: 26px;
                                        letter-spacing: .28px;
                                    }
                                    &:last-child{
                                        margin-bottom: 0px;
                                    }
                                }
                                & + ul{
                                    padding-left: 45px;
                                }
                            }
                        }
                    }
                    .tags_causes_list{
                        padding: 50px 0px;
                        h4{
                            font-family: $ox;
                            font-weight: bold;
                            color: $dip;
                            font-size: 14px;
                            letter-spacing: .84px;
                            display: inline-block;
                            padding-right: 5px;
                        }
                        a{
                            font-size: 14px;
                            color: #a6aab3;
                            font-size: 14px;
                            letter-spacing: .84px;
                        }
                    }
                }
                .media{
                    margin-top: 70px;
                    .media-left{
                        padding-right: 60px;
                    }
                    .media-body{
                        position: relative;
                        overflow: visible;
                        &:before{
                            content: '';
                            left: -28px;
                            top: 18px;
                            width: 1px;
                            height: 103px;
                            background: #eaedee;
                            position: absolute;
                        }
                        h4{
                            font-size: 18px;
                            color: $dip;
                            font-family: $ox;
                            font-weight: bold;
                            text-transform: uppercase;
                            letter-spacing: .36px;
                            padding-bottom: 10px;
                        }
                        h5{
                            font-size: 14px;
                            color: #b5c0c9;
                            font-family: $ox;
                            letter-spacing: .28px;
                            padding-bottom: 15px;
                        }
                        h6{
                            font-size: 14px;
                            color: $dip;
                            font-family: $ox;
                            letter-spacing: .28px;
                            padding-bottom: 23px;
                            span{
                                color: $baseColor;
                            }
                        }
                        p{
                            font-size: 14px;
                            line-height: 26px;
                            font-family: $ox;
                            color: $gray;
                            letter-spacing: .28px;
                        }
                    }
                    &:first-child{
                        margin-top: 85px;
                    }
                }
                .load_more_btn{
                    text-align: center;
                    padding: 50px 0px 80px 0px;
                    a{
                        max-width: 165px;
                        i{
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
    &.causes_single3{
        margin-bottom: 100px;
    }
}
.comment_area.comment_course{
    .comment_inner{
        margin-top: 60px;
        .media{
            padding-right: 50px !important;
            margin-top: 30px !important;
            .media-left{
                padding-right: 38px;
            }
            .media-body{
                &:before{
                    display: none;
                }
                .comment_content{
                    width: 100%;
                    max-width: none;
                }
            }
            &.comment_reply{
                padding-right: 0px;
            }
        }
    }
}
/* End Causes single Tab area css
============================================================================================ */

/* Donation area css
============================================================================================ */
.donation_area{
    padding: 100px 0px;
    .donate_title{
        text-align: center;
        h3{
            font-size: 18px;
            font-family: $ox;
            font-weight: bold;
            letter-spacing: .56px;
            text-transform: uppercase;
            padding-bottom: 25px;
        }
        p{
            font-size: 14px;
            line-height: 16px;
            letter-spacing: .28px;
            color: $gray;
            font-family: $ox;
            max-width: 642px;
            line-height: 26px;
            margin: auto;
        }
    }
    .how_much_donate{
        margin-top: 90px;
        margin-bottom: 75px;
        .donate_price{
            display: inline-block;
            ul{
                li{
                    display: inline-block;
                    margin-right: 26px;
                    a{
                        display: inline-block;
                        height: 85px;
                        width: 85px;
                        border-radius: 50%;
                        background: #ddd;
                        text-align: center;
                        line-height: 85px;
                        font-size: 24px;
                        color: $gray;
                        font-family: $ox;
                        font-weight: bold;
                        @include transition;
                    }
                    &:hover, &.active{
                        a{
                            background: $baseColor;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .donate_input{
            display: inline-block;
            h4{
                display: inline-block;
                padding-right: 25px;
                color: $gray;
                font-family: $ox;
                letter-spacing: .56px;
            }
            input{
                width: 380px;
                height: 65px;
                border-radius: 4px;
                box-shadow: none;
                border: 1px solid #cbd0d9;
                outline: none;
                padding: 0px 15px;
                font-family: $ox;
                font-size: 18px;
                letter-spacing: .36px;
                color: #b5c0c9;
                @include placeholder{
                    font-family: $ox;
                    font-size: 18px;
                    letter-spacing: .36px;
                    color: #b5c0c9;
                }
            }
        }
    }
}
.donation_t{
    font-size: 20px;
    font-family: $ox;
    font-weight: bold;
    color: $dip;
    letter-spacing: .36px;
    padding-bottom: 50px;
}
.donation_chose{
    padding-bottom: 60px;
    .donate_chose{
        .form-group{
            label{
                color: $gray;
                font-family: $ox;
                font-size: 16px;
                letter-spacing: .32px;
                display: inline-block;
            }
            .bootstrap-select{
                width: 115px;
                .btn-default{
                    border: 1px solid #cbd0d9;
                    border-radius: 0px;
                    outline: none !important;
                    box-shadow: none !important;
                    background: transparent;
                    height: 35px;
                    .filter-option{
                        color: $dip;
                        font-family: $ox;
                        font-size: 14px;
                        letter-spacing: .28px;
                        font-weight: bold;
                    }
                    .bs-caret{
                        color: $dip;
                    }
                }
                .dropdown-menu{
                    li{
                        a{
                            color: $dip;
                            font-family: $ox;
                            font-size: 14px;
                            letter-spacing: .28px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
.donation_form_area{
    .donation_form_inner{
        .form-group{
            margin-bottom: 0px;
            label{
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: .32px;
                font-family: $ox;
                color: $gray;
                padding-bottom: 13px;
            }
            input{
                height: 58px;
                border: 1px solid #cbd0d9;
                border-radius: 0px;
                box-shadow: none;
                text-shadow: none;
                padding: 0px 18px;
                font-family: $ox;
                font-size: 16px;
                color: #b5c0c9;
                letter-spacing: .32px;
                @include placeholder{
                    font-family: $ox;
                    font-size: 16px;
                    color: #b5c0c9;
                    letter-spacing: .32px;
                }
                &:focus{
                    border: 1px solid $baseColor;
                }
            }
            &:first-child{
                margin-bottom: 35px;
            }
            &:nth-child(2){
                padding-right: 27.5px;
            }
            &:nth-child(3){
                padding-left: 27.5px;
            }
            .btn_custom_color{
                max-width: 164px;
                text-transform: uppercase;
            }
        }
        .donate_information{
            h6{
                font-size: 14px;
                font-family: $ox;
                letter-spacing: .28px;
                color: #b5c0c9;
                padding-top: 25px;
                padding-bottom: 50px;
            }
        }
    }
}

.donation_area.donation_area2{
    .donate_title{
        padding-bottom: 90px;
    }
    .donation_form_area{
        .donation_form_inner2{
            .first_last{
                .form-group{
                    &:first-child{
                        padding-right: 28px;
                    }
                    &:last-child{
                        padding-left: 28px;
                    }
                }
            }
            .form-group{
                margin-bottom: 35px;
                label{
                    font-size: 16px;
                    letter-spacing: .32px;
                    font-family: $ox;
                    font-weight: bold;
                    color: $gray;
                    padding-bottom: 13px;
                    .star{
                        color: #ff0000;
                    }
                    .option{
                        color: #b5c0c9;
                        font-weight: normal;
                    }
                }
                input{
                    height: 58px;
                    border: 1px solid #cbd0d9;
                    border-radius: 0px;
                    box-shadow: none;
                    text-shadow: none;
                    padding: 0px 18px;
                    font-family: $ox;
                    font-size: 16px;
                    color: #b5c0c9;
                    letter-spacing: .32px;
                    @include placeholder{
                        font-family: $ox;
                        font-size: 16px;
                        color: #b5c0c9;
                        letter-spacing: .32px;
                    }
                    &:focus{
                        border: 1px solid $baseColor;
                    }
                }
                &:last-child{
                    margin-bottom: 0px;
                }
                .btn_custom_color{
                    max-width: 185px;
                    text-transform: uppercase;
                    margin-left: 16px;
                }
            }
            .donate_information{
                h6{
                    font-size: 14px;
                    font-family: $ox;
                    letter-spacing: .28px;
                    color: #b5c0c9;
                    padding-bottom: 70px;
                }
            }
        }
    }
}
/* End Donation area css
============================================================================================ */