/* Home slider css
============================================================================================ */
.home_slider{
    overflow: hidden;
    .home_slider_wrapper{
        .rev_slider{
            ul{
                li{
                    .slider_text_box{
                        text-align: center;
                        .big_text{
                            font-family: $ox;
                            font-weight: bold;
                            color: #fff;
                            letter-spacing: .20px;
                            
                        }
                        .secand_text{
                            color: #fff;
                            font-family: $ox;
                            font-weight: 700;
                            text-transform: uppercase;
                            letter-spacing: .20px;
                        }
                        .third_text{
                            font-family: $ox;
                            color: #fff;
                            letter-spacing: .20px;
                        }
                        .download_text{}
                    }
                }
            }
            .tp-leftarrow{
                background: transparent;
                height: 100px;
                width: 100px;
                border: 1px solid #fff;
                transform: rotate(-45deg);
                &:before{
                    content: "\e879";
                    font-family: 'Linearicons-Free';
                    font-size: 20px;
                    color: #fff;
                    text-align: right;
                    transform: rotate(45deg);
                    padding-top: 22px;
                }
            }
            .tp-rightarrow{
                background: transparent;
                height: 100px;
                width: 100px;
                border: 1px solid #fff;
                transform: rotate(-45deg);
                &:before{
                    content: "\e87a";
                    font-family: 'Linearicons-Free';
                    transform: rotate(45deg);
                    padding-top: 22px;
                    text-align: left;
                    padding-left: 25px;
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
    }
}
/* End Home slider2 css
============================================================================================ */

/* Home slider2 css
============================================================================================ */
.home_slider2{
    position: relative;
    .home_slider_wrapper{
        .rev_slider{
            ul{
                li{
                    .slider_text_box{
                        text-align: left;
                        .first_text{
                            color: $baseColor;
                            text-transform: uppercase;
                            letter-spacing: .20px;
                        }
                    }
                }
            }
        }
    }
}
/* End Home slider2 css
============================================================================================ */

/* Home slider3 css
============================================================================================ */
.home-slider3{
    position: relative;
    overflow: visible;
    margin-bottom: 132px;
    .home_slider_wrapper{
        .rev_slider{
            ul{
                li{
                    .slider_text_box{
                        text-align: left;
                        .first_text{
                            color: $dip;
                            font-weight: bold;
                            font-family: $ar;
                            text-transform: uppercase;
                        }
                        .secand_text{
                            text-align: left;
                            color: $baseColor;
                            font-family: $ar;
                        }
                        .list_text{
                            color: $gray;
                            font-family: $ox;
                            letter-spacing: .20px;
                        }
                    }
                }
            }
        }
    }
    .need_food_area{
        bottom: -132px;
        .need_food_item{
            border-bottom: 2px solid #e5e5e5;
            @include transition;
            &:hover{
                border-bottom: 2px solid $baseColor;
            }
        }
    }
}
/* End Home slider3 css
============================================================================================ */

/* Slider need food css
============================================================================================ */
.need_food_area{
    position: absolute;
    width: 100%;
    bottom: 3px;
    left: 0px;
    right: 0px;
    z-index: 20;
    .need_food_item{
        background: #fff;
        margin-right: 3px;
        text-align: center;
        padding-bottom: 40px;
        h4{
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: .20px;
            font-family: $ox;
            font-weight: bold;
            color: $dip;
            padding: 40px 0px;
            span{
                color: $baseColor;
            }
        }
        .food_rating{
            max-width: 240px;
            margin: 0 auto;
            height: 22px;
            background: #ddd;
            position: relative;
            border-radius: 11px;
            span{
                background: $baseColor;
                position: absolute;
                left: 0px;
                top: 0px;
                height: 22px;
                border-radius: 11px;
            }
        }
        .food_price{
            padding: 20px 0px 30px 0px;
        }
        h5{
            font-size: 16px;
            color: $dip;
            letter-spacing: .20px;
            font-family: $ox;
            font-weight: bold;
            display: inline-block;
            span{
                font-weight: normal;
                font-size: 12px;
                color: $gray;
            }
        }
        .slash{
            color: $dip;
            font-weight: bold;
            font-size: 16px;
            padding: 0px 15px 0px 15px;
        }
        .read_more_btn{
            max-width: 90px;
            height: 30px;
            line-height: 28px;
            z-index: 10;
        }
    }
}
/* End Slider need food css
============================================================================================ */

/* Payment Slider area css
============================================================================================ */
.payment_slider{
    background: #f8f9fa;
    .payment_slider_active{
        .item{
            text-align: center;
            line-height: 200px;
            img{
                width: auto;
                max-width: 100%;
                text-align: center;
                display: inline-block;
                line-height: 200px;
            }
        }
    }
}
/* End Payment Slider area css
============================================================================================ */