/* Video css
============================================================================================ */
.main_video_area{
    padding: 100px 0px;
}
.background_video_row{
    .video_row{
        position: relative;
        iframe{
            width: 100%;
            min-height: 422px;
            margin: 0px;
            border: none;
        }
        .overlay{
            .overlay_bg{
                background: url(../img/video-bg.jpg) no-repeat;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 0;
                opacity: 1;
                @include transition;
            }
            .play_pause{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                text-align: center;
                i{
                    z-index: 3;
                    color: #fff;
                    font-size: 30px;
                    cursor: pointer;
                    color: $baseColor;
                }
                .fa-play{
                    background: rgba(255, 255, 255, .20);
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    line-height: 80px;
                    text-align: center;
                }
                .fa-pause{
                    display: none;
                }
            }
            &.playing{
                .overlay_bg{
                    opacity: 0;
                }
                .play_pause{
                    .fa-pause{
                        display: inline-block;
                        opacity: 0;
                    }
                }
                &:hover{
                    .play_pause{
                        .fa-pause{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
.right_main_content{
    h4{
        text-transform: uppercase;
        font-size: 30px;
        color: $dip;
        letter-spacing: .20px;
        font-weight: bold;
        font-family: $ox;
        padding: 15px 0px;
    }
    h6{
        letter-spacing: .60px;
        font-size: 18px;
        font-family: $ox;
        font-weight: bold;
        color: #b5c0c9;
        padding-bottom: 10px;
    }
    p{
        line-height: 26px;
        font-family: $ox;
        color: $dip;
        letter-spacing: .14px;
        font-size: 14px;
        padding-top: 25px;
    }
}
.read_btn_area{
    padding-top: 50px;
    .share_video{
        padding-top: 10px;
        h5{
            display: inline-block;
            font-size: 14px;
            letter-spacing: .14px;
            font-family: $ox;
            font-weight: bold;
            color: $dip;
            padding-right: 32px;
            position: relative;
            &:before{
                content: "";
                width: 12px;
                height: 1px;
                background: $dip;
                position: absolute;
                right: 9px;
                top: 50%;
            }
        }
        ul{
            display: inline-block;
            li{
                display: inline-block;
                margin-right: 8px;
                a{
                    font-size: 16px;
                    color: $dip;
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}
/* End Video css
============================================================================================ */

/* Volunteer Video css
============================================================================================ */
.volunteer_area{
    overflow: hidden;
    .left_side_volunteer{
        width: 50%;
        float: left;
        overflow: hidden;
        background: url(../img/volunteer-left-bg.jpg) no-repeat scroll center center;
        background-size: cover;
        min-height: 573px;
        z-index: 2;
        position: relative;
        &:before{
            content: '';
            background: rgba(255, 125, 1, .98);
            position: absolute;
            left: 0px;
            top: 0px;
            display: block;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .volunteer_content{
            max-width: 570px;
            float: right;
            padding-right: 78px;
            h3{
                font-size: 35px;
                color: #fff;
                letter-spacing: .60px;
                font-family: $ar;
                text-transform: uppercase;
                padding: 100px 0px 14px 0px;
                span{
                    font-family: $ox;
                    color: $dip;
                }
            }
            h5{
                font-size: 18px;
                letter-spacing: .40px;
                font-family: $ox;
                font-weight: bold;
                color: #fff;
            }
            p{
                font-size: 14px;
                line-height: 26px;
                letter-spacing: .20px;
                color: #fff;
                padding: 45px 0px;
                font-family: $ox;
                font-weight: bold;
            }
            .read_more_btn.white_btn{
                height: 44px;
                line-height: 42px;
            }
        }
    }
    .right_side_volunteer{
        width: 50%;
        float: right;
        overflow: hidden;
        .background_video_row{
            .overlay{
                position: absolute;
                left: 0px;
                top: 0px;
                min-height: 573px;
                width: 100%;
                .overlay_bg{
                    background: url(../img/volunteer-video-overlay.jpg) no-repeat scroll center center;
                }
                .play_pause{
                    cursor: pointer;
                }
            }
            .video_row{
                margin-bottom: -5px;
                iframe{
                    min-height: 573px;
                }
            }
        }
    }
    &.volunteer_area_three{
        .left_side_volunteer{
            min-height: 495px;
            background: url(../img/volunteer-left-bg-2.jpg) no-repeat scroll center center;
            &:before{
                display: none;
            }
            .volunteer_content{
                max-width: 557px;
                width: 100%;
                padding-right: 0px;
                .next_event{
                    border: none;
                    margin-top: 45px;
                }
                .soon{
                    margin-top: 80px;
                }
            }
        }
        .right_side_volunteer{
            min-height: 495px;
            .background_video_row{
                .overlay{
                    min-height: 495px;
                    .overlay_bg{
                        background: url(../img/volunteer-video-overlay-2.jpg) no-repeat scroll center center;
                    }
                }
                .video_row{
                    iframe{
                        min-height: 495px;
                    }
                }
            }
        }
    }
}
/* End Volunteer Video css
============================================================================================ */

/* Find Video css
============================================================================================ */
.find_video{
    .video_row{
        position: relative;
        iframe{
            height: 590px;
            width: 100%;
            border: none;
            margin: 0px;
        }
        .overlay{
            .overlay_bg{
                background: url(../img/find_video_bg.jpg) no-repeat scroll center center;
                position: absolute;
                left: 0px;
                top: 0px;
                height: 590px;
                width: 100%;
            }
            .play_pause{
                position: absolute;
                text-align: center;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                color: #fff;
                background: url(../img/video_border.png) no-repeat scroll center center;
                min-height: 400px;
                .video_content{
                    padding-top: 100px;
                    h4{
                        font-size: 30px;
                        letter-spacing: .20px;
                        font-family: $ox;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    h5{
                        font-size: 18px;
                        font-family: $ox;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                }
                i{
                    font-size: 72px;
                }
                #play_btn{}
                #pause_btn{
                    display: none;
                }
            }
            &.playing{
                .overlay_bg{
                    opacity: 0;
                }
                .play_pause{
                    background: none;
                    .video_content{
                        display: none;
                    }
                    #pause_btn{
                        position: absolute;
                        top: -70px;
                        left: 20px;
                    }
                }
            }
        }
    }
}
/* End Find Video css
============================================================================================ */