/* Right Sidebar widgets css
============================================================================================ */
.right_sidebar{
    padding-left: 10px;
}
aside{
    margin-bottom: 60px;
}
.w_title{
    margin-bottom: 30px;
    h3{
        font-size: 14px;
        letter-spacing: .84px;
        font-family: $ox;
        color: $dip;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 12px;
        position: relative;
        &:before{
            content: '';
            width: 210px;
            height: 1px;
            background: #f1f1f1;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
    }
}
.search_widget{
    background: #fcfcfc;
    border: 1px solid #ddd;
    .input-group{
        display: block;
        max-width: 197px;
        margin: auto;
        position: relative;
        overflow: hidden;
        padding: 25px 0px;
        input{
            width: 100%;
            display: block;
            box-shadow: none;
            text-shadow: none;
            border: 1px solid $baseColor;
            height: 38px;
            border-radius: 19px;
            border-bottom-right-radius: 19px !important; 
            border-top-right-radius: 19px !important;
            padding: 0px 30px 0px 15px;
            vertical-align: middle;
            font-size: 12px;
            color: #b5c0c9;
            font-family: $ox;
            letter-spacing: .72px;
            @include placeholder{
                font-size: 12px;
                color: #b5c0c9;
                font-family: $ox;
                letter-spacing: .72px;
            }
        }
        .input-group-btn{
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            .btn-default{
                border: none;
                border-radius: 0px;
                background: transparent;
                font-size: 14px;;
                color: $baseColor;
                padding: 0px;
                i{
                    font-size: 14px;
                }
            }
        }
    }
}
.categories_widget{
    ul{
        li{
            margin-bottom: 10px;
            a{
                font-size: 14px;
                letter-spacing: .84px;
                font-family: $ox;
                color: $gray;
                @include transition;
                i{
                    padding-right: 10px;
                }
            }
            &:hover{
                a{
                    color: $baseColor;
                }
            }
            &:nth-child{
                margin-bottom: 0px;
            }
        }
    }
}
.recent_widget{
    .recent_causes_inner{
        .recent_causes_item{
            margin-bottom: 25px;
            img{
                max-width: 100%;
            }
            h4{
                font-size: 14px;
                font-family: $ox;
                letter-spacing: .84px;
                color: $dip;
                padding: 15px 0px;
            }
            p{
                font-size: 12px;
                line-height: 24px;
                font-family: $ox;
                color: $gray;
                letter-spacing: .24px;
                padding-bottom: 10px;
            }
            a{
                font-size: 12px;
                letter-spacing: .72px;
                font-family: $ox;
                color: $dip;
                @include transition;
                &:hover{
                    color: $baseColor;
                }
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
}
.urgent_widget{
    .urgent_causes_inner{
        .media{
            margin-bottom: 30px;
            .media-left{
                
            }
            .media-body{
                h4{
                    font-size: 12px;
                    color: $dip;
                    font-family: $ox;
                    letter-spacing: .24px;
                    line-height: 18px;
                }
                h5{
                    font-size: 12px;
                    letter-spacing: .24px;
                    font-family: $ox;
                    color: $gray;
                    padding-top: 12px;
                }
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
}
.post_widget{
    .popular_post_inner{
        .media{
            margin-top: 30px;
            .media-left{
                padding-right: 15px;
            }
            .media-body{
                h4{
                    font-size: 14px;
                    color: $gray;
                    font-family: $ox;
                    line-height: 26px;
                    margin-top: -8px;
                    padding-bottom: 6px;
                }
                a{
                    font-size: 12px;
                    font-family: $ox;
                    color: $dip;
                    i{
                        padding-left: 3px;
                    }
                }
            }
            &:first-child{
                margin-top: 0px;
            }
        }
    }
}
.tags_widget{
    ul{
        margin-right: -5px;
        margin-bottom: -10px;
        li{
            float: left;
            margin-right: 5px;
            margin-bottom: 10px;
            a{
                display: inline-block;
                padding: 0px 20px;
                border: 1px solid #f4f5f7;
                line-height: 30px;
                border-radius: 15px;
                font-size: 14px;
                color: $gray;
                font-family: $ox;
                letter-spacing: .84px;
                @include transition;
            }
            &:hover{
                a{
                    border-color: $baseColor;
                    color: $baseColor;
                }
            }
        }
    }
}
/* End Right Sidebar widgets css
============================================================================================ */