@media (max-width:1400px){
    padding: 100px 0px;
}
@media (max-width:1250px){
    .volunteer_singup_area .team_image::before {
        left: 0;
    }
    .volunteer_singup_area .team_image{
        text-align: center;
    }
}
@media (max-width: 1199px){
    .header_first .right_side {
        padding-left: 80px;
    }
    .header_first .right_side .contact_details .media:last-child {
        padding-left: 30px;
    }
    .home_slider .home_slider_wrapper .rev_slider ul li .slider_text_box .first_text{
        display: none;
    }
    .home_slider.home_slider2 .home_slider_wrapper .rev_slider ul li .slider_text_box .first_text{
        display: block;
    }
    .main_menu_area.left_menu .navbar.navbar-default .navbar-collapse .nav.navbar-nav{
        width: 100%;
        text-align: center;
    }
    .main_menu_area.left_menu .navbar.navbar-default .navbar-collapse .navbar-right.footer_social{
        float: none !important;
        text-align: center;
    }
    .cause_area {
        padding: 60px 0px 60px 50px;
    }
    .cause_area .count_item .total_content .total_item h4::before {
        left: -70px;
        width: 100px;
    }
    .cause_area .count_item .total_content .total_item:nth-child(2) h4::before {
        left: -40px;
        width: 70px;
    }
    .cause_area .count_item .total_content .total_item:nth-child(3) h4::before {
        left: -82px;
        width: 75px;
    }
    .causes_item .causes_rate .pull-left h4 {
        font-size: 12px;
    }
    .causes_item .causes_rate {
        padding: 18px 5px;
    }
    .causes_item .causes_rate::before {
        right: -43px;
    }
    .causes_item .causes_rate .pull-right h4 {
        font-size: 12px;
    }
    .map_area_touch .get_in_touch_details .touch_details_inner .subscribe_content {
        max-width: none;
        padding-left: 0px;
    }
    .map_area_touch .get_in_touch_details .touch_details_inner .touch_content {
        padding-left: 25px;
    }
    .ready_blog {
        padding: 35px 25px 38px 25px;
    }
    .our_blog_item .media .media-left{
        padding-right: 10px;
    }
    .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content a{
        right: 20px;
    }
    .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content h4{
        font-size: 14px;
    }
    .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content .gallery_content_inner{
        padding-left: 25px;
        padding-right: 13px;
    }
    .flicker_widget ul li{
        margin: 5px 5px 0px 0px;
    }
    .flicker_widget ul{
        margin-top: 0px;
    }
    .charity_content .right_main_content{
        padding-top: 0px;
    }
    .charity_content .right_main_content .read_btn_area .share_video{
        float: none !important;
    }
    .next_event{
        margin-top: 30px;
    }
    .soon {
        margin-top: 210px;
    }
    .charity_area{
        padding: 95px 0px 100px 0px;
    }
    .volunteer_area .left_side_volunteer .volunteer_content {
        max-width: 465px;
        padding-right: 29px;
    }
    .volunteer_area .left_side_volunteer .volunteer_content h3{
        padding: 80px 0px 14px 0px;
    }
    .our_history_area .history_image .history_box img{
        top: 50%;
        transform: translateY(-50%);
        padding-top: 0px;
    }
    .charity_event_about{
        padding-top: 0px;
    }
    .causes_item_area .causes_filter_inner{
        padding: 16px 10px 16px 10px;
    }
    .causes_item_area .causes_filter_inner .causes_filter li{
        margin-right: 5px;
    }
    .causes_sidebar_area .row.causes_sidebar_total .causes_sidebar_inner .media .media-body .causes_s_content .progress_bar_main {
        max-width: 230px;
        margin-bottom: 10px;
    }
    .causes_sidebar_area .row.causes_sidebar_total .causes_sidebar_inner .media .media-body{
        padding-top: 40px;
        padding-left: 20px;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane .single_tabe_content .row.causes_tab_part img{
        max-width: 100%;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane .single_tabe_content .causes_tab_part .single_tab_count {
        padding: 40px 10px 35px 15px;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane .single_tabe_content .causes_tab_part .single_tab_count .graph_chart .right_chart {
        right: 30px;
    }
    .donation_area .how_much_donate .donate_input input{
        width: 290px;
    }
    .service_inner .media{
        margin-top: 30px;
    }
    .volunteer_area.volunteer_area_three .left_side_volunteer .volunteer_content {
        max-width: 478px;
    }
    .volunteer_area.volunteer_area_three{
        padding: 0px;
    }
    .team_details_area .team_details_slider .team_image{
        text-align: center;
    }
    .team_details_area .team_details_slider .team_image img{
        display: inline-block;
    }
    .team_details_area .team_details_slider .team_image::before {
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    .team_details_area .team_details_slider .tema_content {
        padding-top: 70px;
        text-align: center;
    }
    .volunteer_singup_area .team_image::before {
        width: 535px;
    }
    .blog_grid_ms_area .blog_grid_inners .blog_grid_item{
        width: calc(100% / 4);
    }
    .grid-sizer-ms {
        width: 5%;
    }
    .main_menu_area.left_menu.stricky-fixed .navbar.navbar-default .navbar-collapse .navbar-right.footer_social{
        display: none;
    }
    .main_menu_area.left_menu.stricky-fixed + section, .main_menu_area.left_menu.stricky-fixed + div, .main_menu_area.left_menu.stricky-fixed + .row {
        margin-top: 120px;
    }
    .contact_area.contact_area2 .right_contact_details .contact_details_inners .media:nth-child(2) {
        padding-left: 15px;
    }
}
@media (max-width: 991px){
    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li a {
        padding: 0px 12px;
    }
    .mission_area {
        background-size: cover;
    }
    .mission_area .col-md-4 .mission_item{
        margin-bottom: 40px;
    }
    .mission_item h4 {
        padding-bottom: 15px;
    }
    .background_video_row .video_row .overlay .overlay_bg {
        background-size: cover;
    }
    .need_food_area{
        position: relative;
        bottom: 0px;
    }
    .need_food_area .col-sm-4 .row{
        margin: 0px;
    }
    .cause_area .count_item {
        position: relative;
        margin-top: 100px;
    }
    .cause_area .count_item .total_content .total_item h4::before {
        left: -70px;
        width: 100px;
    }
    .cause_area .count_item .total_content .total_item:nth-child(2) h4::before {
        left: -70px;
        width: 100px;
    }
    .cause_area .count_item .total_content .total_item:nth-child(3) h4::before {
        left: -70px;
        width: 65px;
    }
    .causes_area .causes_item{
        max-width: 360px;
        margin: auto;
        margin-bottom: 30px;
    }
    .causes_item .causes_rate::before {
        right: -16px;
        height: 101%;
    }
    .causes_area .col-md-4:last-child .causes_item{
        margin-bottom: 0px;
    }
    .causes_item .causes_rate .pull-left h4 {
        font-size: 14px;
    }
    .causes_item .causes_rate {
        padding: 18px 20px;
    }
    .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content .gallery_content_inner {
        bottom: 40px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .gallery_area.column_2_ms .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content .gallery_content_inner{
        padding-left: 40px;
        padding-right: 30px;
    }
    .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content h4 {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content a {
        right: 20px;
        top: auto;
        bottom: 0px;
    }
    .our_events_area .events_item{
        max-width: 360px;
        margin: 0 auto 40px;
    }
    .our_events_area .col-md-4:last-child .events_item{
        margin-bottom: 0px
    }
    .need_help_area .need_help_item{
        margin-bottom: 30px;
    }
    .need_help_area{
        padding: 50px 0px 20px;
    }
    .become_area {
        height: auto;
        padding: 0px 0px;
    }
    .our_blog_area .blog_middle_img{
        text-align: center;
        margin: 50px 0px;
    }
    .our_blog_item {
        max-width: 400px;
        margin: 0px 0px 30px;
    }
    .our_blog_area .blog_middle_img{
        margin: 0px 0px 30px;
    }
    .our_blog_item .media .media-left {
        padding-right: 30px;
    }
    .map_area_touch .get_in_touch_details .touch_details_inner .touch_content {
        padding-top: 37px;
        padding-bottom: 0px;
    }
    .map_area_touch .get_in_touch_details {
        padding: 0px 0px;
    }
    .map_area_touch .get_in_touch_details .touch_details_inner .subscribe_content {
        padding-left: 20px;
        padding-top: 20px;
    }
    .map_area_touch .get_in_touch_details .touch_details_inner .touch_content .media {
        margin-top: 30px;
    }
    .map_area_touch .get_in_touch_details .touch_details_inner {
        height: 630px;
    }
    .footer_widgets_area{
        max-width: 300px;
        margin: auto;
        padding: 110px 0px 30px 0px;
    }
    .footer_widgets_area .f_widget_item {
        margin-bottom: 40px;
    }
    .flicker_widget ul li {
        margin: 10px 10px 0px 0px;
    }
    .soon,.charity_person{
        margin-top: 30px;
    }
    .vision_item h4{
        padding-bottom: 30px;
    }
    .vision_item p{
        font-size: 13px;
        padding: 0px 10px;
    }
    .vision_item.black_vision h4{
        font-size: 27px;
    }
    .gallery_image.gallery_image2 .gallery_item .gallery_inner img{
        width: 100%;
    }
    .volunteer_area .left_side_volunteer,.volunteer_area .right_side_volunteer{
        width: 100%;
    }
    .volunteer_area .left_side_volunteer .volunteer_content{
        max-width: 100%;
        padding: 0px 15px;
        float: none;
    }
    .volunteer_area{
        padding-top: 0px;
    }
    .volunteer_area .left_side_volunteer{
        min-height: auto;
        padding-bottom: 80px;
    }
    .doing_item .media{
        margin-top: 30px;
    }
    .needs_area .need_food_area .need_food_item{
        padding-left: 10px;
        padding-right: 10px
    }
    .our_mission_area .col-sm-6{
        margin-bottom: 20px;
    }
    .our_mission_area .col-sm-6:nth-child(2){
        min-height: 455px;
    }
    .our_mission_img img{
        width: 100%;
    }
    .our_mission_area {
        padding: 110px 0px 80px;
    }
    .members_item img{
        width: 100%;
    }
    .volunteer_area.volunter-team{
        padding-top: 100px;
    }
    .volunteer_area .members_item{
        margin-bottom: 30px;
    }
    .fun_fact_item{
        margin-bottom: 20px;
    }
    .fun_fact_area{
        padding-bottom: 70px;
    }
    .causes_item_area .causes_filter_inner .causes_filter{
        text-align: center;
    }
    .causes_item_area .causes_filter_inner .causes_filter li{
        margin-bottom: 8px;
    }
    .causes_item_area .causes_filter_inner .pull-right{
        float: none !important;
        text-align: center;
    }
    .subscrib_input {
        width: 347px;
    }
    .causes_main_list .media .media-left {
        display: block;
    }
    .cause_area .count_item{
        margin-top: 0px;
    }
    .causes_main_list .media .media-body .causes_left_content{
        padding-right: 0px;
    }
    .causes_main_list .media .media-body{
        padding-bottom: 30px;
    }
    .right_sidebar {
        padding-left: 0px;
        margin-top: 30px;
    }
    .search_widget .input-group{
        max-width: 100%;
    }
    .search_widget{
        padding: 0px 15px;
    }
    aside {
        margin-bottom: 40px;
    }
    .graph_chart{
        margin-top: 50px;
    }
    .tags_area {
        padding-top: 65px;
    }
    .causes_area.related_cause{
        padding: 70px 0px;
    }
    .comment_form_area {
        padding-top: 63px;
        padding-bottom: 75px;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane{
        padding: 0px 30px;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane .single_tabe_content .causes_tab_part .single_tab_count{
        padding: 40px 30px 35px 30px;
        margin-top: 40px;
    }
    .donation_area .how_much_donate .donate_input{
        margin-top: 30px;
    }
    .donation_area.donation_area2 .donation_form_area .donation_form_inner2 .first_last .form-group:last-child{
        padding-left: 15px;
        margin-bottom: 10px;
    }
    .our_events_area.events_grid .events_item{
        margin-top: 0px;
    }
    .our_events_area.events_grid .search_grid_area{
        margin-bottom: 40px;
    }
    .contact_area .right_contact_details {
        margin-top: 40px;
    }
    .volunteer_area.team_page .volunteer_inner .members_item{
        margin-bottom: 0px;
    }
    .volunteer_area.team_page{
        padding-top: 100px;
    }
    .volunteer_singup_area .team_image::before {
        width: 100%;
    }
    .blog_grid_ms_area .blog_grid_inners .blog_grid_item{
        width: calc(100% / 3);
    }
    .grid-sizer-ms {
        width: 0.5px;
    }
    .says_slider {
        padding-bottom: 70px;
    }
    .contact_area.contact_area2 .right_contact_details .contact_details_inners {
        padding: 15px 0px 15px 0;
    }
    .contact_area.contact_area2 .right_contact_details .contact_details_inners .media {
        display: block;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    .contact_area.contact_area2 .right_contact_details .contact_details_inners .media:nth-child(2) {
        padding-left: 15px;
    }
    .contact_area.contact_area2 .right_contact_details .contact_details_inners .media:last-child {
        position: relative;
        width: 240px;
        float: none;
        top: 0px;
    }
}
@media (max-width: 767px){
    .header_first .right_side {
        display: none;
    }
    .header_first .left_side {
        width: 100%;
        text-align: center;
        height: 90px;
    }
    .header_first .left_side .logo_area {
        max-width: none;
        float: none;
        width: 100%;
        text-align: center;
        display: inline-block;
        padding-top: 22px;
    }
    .main_menu_area .navbar.navbar-default .navbar-collapse {
        z-index: 22;
        max-height: 400px;
    }
    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li {
        float: none;
        display: block;
        position: relative;
    }
    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li a {
        text-align: left;
        line-height: 50px;
    }
    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav {
        margin: 0;
    }
    .home_slider .home_slider_wrapper .rev_slider .tp-leftarrow {
        display: none;
    }
    .home_slider .home_slider_wrapper .rev_slider .tp-rightarrow {
        display: none;
    }
    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li::before {
        display: none;
    }
    .main_menu_area.left_menu .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:first-child a {
        padding-left: 12px;
    }
    /*
    Toggle Menu css
    */
    .navbar-default .navbar-toggle{
        border-color: #ff7d01;
    }
    .navbar-default .navbar-toggle:hover{
        background: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background: #fff;
    }
    .main_menu_area.left_menu .navbar.navbar-default .navbar-collapse .navbar-right.footer_social{
        text-align: left;
    }
    .header_logo_area .pull-right .media{
        margin-right: 10px;
    }
    .our_service_area {
        padding: 92px 0px 100px 0px;
    }
    .our_service_area .service_title {
        overflow: hidden;
    }
    .service_inner .media{
        margin-top: 30px;
    }
    .mission_item p{
        max-width: 100%;
    }
    .right_main_content{
        padding-top: 10px;
    }
    .cause_area{
        padding: 50px 0px 60px 50px;
        margin-top: 50px;
    }
    .fun_fact_area{
        padding: 92px 0px 66px;
    }
    .fun_fact_item {
        border-left: none;
        padding-left: 0px;
        max-width: 225px;
        margin: auto;
    }
    .fun_fact_area.white_ver .fun_fact_item{
        border: 0px;
    }
    .become_area .become_slider .become_content{
        padding: 70px 15px;
    }
    .our_gallery_area .gallery_image .gallery_item{
        width: 100% !important;
        text-align: left;
    }
    .our_gallery_area .gallery_image{
        max-width: 400px;
        margin: auto;

    }
    .gallery_image .gallery_item .gallery_inner img {
        width: 100%;
        max-width: none;
    }
    .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content .gallery_content_inner {
        padding-left: 25px;
        padding-right: 25px;
    }
    .our_blog_area .blog_middle_img {
        margin: 30px 0px 30px;
    }
    .our_blog_area .blog_middle_img img{
        width: 100%;
    }
    .vision_item p{
        width: 100%;
    }
    .vision_item{
        padding-bottom:50px;
        min-height: auto;
        margin-bottom: 30px;
    }
    .our_vision_area{
        padding-bottom: 70px;
    }
    .says_slider {
        padding-left: 100px;
        padding-bottom: 70px;
    }
    .says_slider .tparrows{
        left: 0px !important;
        top: 100% !important;
        transform: matrix(1, 0, 0, 1, 32, 5) !important;
    }
    .says_slider .tp-rightarrow{
        left: 40px !important;
    }
    .our_history_area .history_image{
        margin-left: 20px;
    }
    .our_history_area {
        padding: 70px 0px 70px 0px;
    }
    .our_history_area .history_image .history_box img{
        padding-right: 15px;
    }
    .needs_area .need_food_area .need_food_item{
        margin-bottom: 30px;
    }
    .needs_area{
        padding: 100px 0px 70px;
    }
    .our_mission_area .col-sm-6:nth-child(2){
        min-height: auto;
    }
    .volunteer_area .volunteer_inner{
        max-width: 400px;
        margin: 0 auto;
    }
    .charity_area_three .charity_person{
        text-align: left;
    }
    .causes_main{
        max-width: 390px;
        margin: 20px auto 0px;
    }
    .subscrib_area{
        text-align: center;
    }
    .subscrib_area .subscrib_content p{
        max-width: 100%;
    }
    .causes_main_list .media .media-body .causes_left_content,.causes_main_list .media .media-body .causes_right_content{
        width: 100%;
    }
    .causes_main_list .media .media-body{
        padding-left: 15px;
        padding-right: 15px;
    }
    .causes_main_list .media .media-body .causes_right_content{
        margin-top: 30px;
    }
    .causes_sidebar_area .row.causes_sidebar_total .causes_sidebar_inner .media .media-left{
        display: block;
    }
    .causes_sidebar_area .row.causes_sidebar_total .causes_sidebar_inner .media .media-left .causes_item .causes_item_img img{
        width: 100%;
    }
    .causes_sidebar_area .row.causes_sidebar_total .causes_sidebar_inner .media .media-body{
        padding-bottom: 40px;
        padding-right: 15px;
    }
    .causes_sidebar_area .row.causes_sidebar_total .causes_sidebar_inner .media .media-body .causes_s_content .progress_bar_main{
        max-width: 90%;
        margin-bottom: 30px;
    }
    .donation_area .how_much_donate .donate_price ul li{
        margin-right: 4px;
    }
    .faq_area .panel-group .panel .panel-collapse .panel-body .media .media-left {
        padding-right: 0px;
        display: block;
        margin-bottom: 15px;
    }
    .gallery_area.column_2_ms .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content a i{
        font-size: 40px;
        line-height: 40px;
    }
    .gallery_area.column_2_ms .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content .gallery_content_inner{
        bottom: 26px;
    }
    .blog_grid_ms_area .blog_grid_inners .blog_grid_item{
        width: calc(100% / 2);
    }
    .blog_grid_ms_area {
        padding: 100px 15px 0px 15px;
    }
    .contact_area .contact_title {
        padding-bottom: 60px;
    }
    .contact_area .right_contact_details .contact_details_inners {
        padding-left: 20px;
        padding-top: 40px;
    }
    .contact_area .comment_form_area .comment_form_inner .form-group textarea {
        height: 200px;
        padding-top: 25px;
    }
    .main_menu_area.left_menu.stricky-fixed .navbar.navbar-default .navbar-collapse .navbar-right.footer_social{
        display: block;
    }
    .main_menu_area.left_menu.stricky-fixed + section, .main_menu_area.left_menu.stricky-fixed + div, .main_menu_area.left_menu.stricky-fixed + .row {
        margin-top: 50px;
    }
    .donators_area .donators_logo ul {
        margin-right: -15px;
    }

}
@media (max-width:650px){
    .cause_area .count_item .total_content{
        position: relative;
        padding-right: 15px;
    }
    .cause_area .count_item .total_content .total_item h4::before,.cause_area .count_item .total_content .total_item:nth-child(2) h4::before,.cause_area .count_item .total_content .total_item:nth-child(3) h4::before{
        left: 0px;
    }
    .copy_right_area .pull-left,.copy_right_area .pull-right{
        float: none !important;
        text-align: center;
    }
    .copy_right_area .pull-left h5{
        line-height: 22px;
    }
    .footer_social{
        margin-top: 10px;
    }
    .copy_right_area {
        padding: 11px 0px 25px 0px;
    }
    .says_slider .rev_slider .tp-carousel-wrapper .box_client p i{
        display: none;
    }
    .says_slider .rev_slider ul li{
        padding-bottom: 30px;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane .media .media-body p{
        padding-right: 0px;
    }
    .causes_single_tab_area.causes_single4 .causes_single_tab_inner .tab-pane .comment_area .comment_inner .media .media-left{
        padding-right: 10px;
    }
    .gallery_menu ul li {
        padding: 0px 5px 0px 5px;
    }
    .blog_list_inners .blog_list_item {
        margin-bottom: 35px;
    }
}
@media (max-width:600px){
    .team_details_area .team_details_slider .team_image::before{
        display: none;
    }
    .team_details_area .team_details_slider .tema_content p{
        padding-top: 15px;
    }
    .team_details_area .team_details_slider .tema_content h4{
        padding-bottom: 24px;
    }
    .team_details_area .team_details_slider .tema_content{
        padding-top: 40px;
    }
}
@media (max-width:580px){
    .header_logo_area .pull-right{
        display: none;
    }
    .header_logo_area .pull-left{
        float: none !important;
        text-align: center;
    }
    .header_top .pull-right a{
        padding-right: 0px;
    }
    .our_history_area .history_image .history_box{
        min-height: 400px;
    }
    .find_video .video_row iframe,.find_video .video_row .overlay .overlay_bg{
        height: 415px;
    }
    .volunteer_area.volunteer_area_three .right_side_volunteer .background_video_row .video_row iframe,.volunteer_area.volunteer_area_three .right_side_volunteer .background_video_row .overlay{
        min-height: 409px;
    }
    .causes_item_area .causes_filter_inner .causes_filter li a{
        padding: 0px 20px;
    }
    .volunteer_singup_area .team_image::before {
        display: none;
    }
    .faq_area .panel-group .panel .panel-heading .panel-title a i{
        margin-right: 10px;
    }
    .faq_area .panel-group .panel .panel-heading .panel-title a{
        font-size: 14px;
    }
    .gallery_area.column_2_ms .gallery_image .gallery_item{
        width: 100%;
    }
    .gallery_area.column_2_ms .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content a i{
        font-size: 40px;
        line-height: 3;
    }
    .gallery_area.column_2_ms .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content .gallery_content_inner{
        bottom: 40px;
    }
    .causes_sidebar_area.single_blog_area .causes_sidebar_total .event_single_inners .comment_area .comment_inner .media.comment_reply {
        padding-left: 12px;
    }
}
@media (max-width: 480px){
    .header_top{
        padding-top: 10px;
    }
    .header_top .pull-left,.header_top .pull-right{
        float: none !important;
    }
    .header_top .pull-left h5{
        line-height: 20px;
    }
    .header_top .pull-right .bootstrap-select .dropdown-toggle .bs-caret::before{
        top: -4px;
    }
    .background_video_row .video_row iframe {
        min-height: 300px;
    }
    .cause_area .count_item .total_content {
        position: relative;
        right: 20px;
        top: 0px;
    }
    .cause_area .count_item .total_content .total_item h4::before {
        display: none;
    }
    .cause_area .count_item .count_main .pie-title-center {
        display: block;
        margin: auto;
        width: 210px;
    }
    .cause_area .count_item {
        margin-left: -60px;
    }
    .cause_area .count_item .count_main h4 {
        text-align: center;
        padding-bottom: 30px;
    }
    .cause_area .cause_content h3::before {
        width: auto;
        font-size: 38px;
        line-height: 58px;
        left: 0px;
    }
    .causes_item .causes_rate .pull-left h4 {
        font-size: 12px;
    }
    .causes_item .causes_rate {
        padding: 18px 5px;
    }
    .causes_item .causes_rate .pull-right h4 {
        font-size: 12px;
    }
    .our_blog_item .media .media-left {
        padding-right: 15px;
    }
    .ready_blog {
        padding: 35px 25px 38px 25px;
    }
    .map_area_touch .get_in_touch_details .touch_details_inner {
        height: auto;
    }
    .map_area_touch .map_area {
        min-height: auto;
        width: 100%;
    }
    .map_area_touch .get_in_touch_details .touch_details_inner .subscribe_content p {
        padding: 13px 0px 10px 0px;
    }
    .map_area_touch .get_in_touch_details .touch_details_inner .subscribe_content h3 {
        font-size: 25px;
    }
    .map_area_touch .get_in_touch_details {
        position: relative;
        padding-bottom: 50px;
    }
    .map_area_touch .get_in_touch_details .touch_details_inner .touch_content::before {
        display: none;
    }
    .service_title h2::before {
        display: none;
    }
    .service_title h2::after {
        display: none;
    }
    .our_service_area {
        padding: 68px 0px 76px 0px;
    }
    .mission_area{
        padding: 73px 0px 75px;
    }
    .main_video_area {
        padding: 76px 0px;
    }
    .fun_fact_area {
        padding: 67px 0px 45px;
    }
    .causes_area,.our_events_area,.our_blog_area{
        padding: 65px 0px 76px;
    }
    .our_gallery_area {
        padding: 68px 0px 76px;
    }
    .charity_area {
        padding: 74px 0px 61px 0px;
    }
    .our_vision_area{
        padding: 70px 0px 40px;
    }
    .volunteer_area .left_side_volunteer .volunteer_content h3{
        font-size: 28px;
    }
    .donators_area .donators_logo ul li{
        width: calc(100% / 2);
    }
    .says_area{
        padding: 70px 0px;
    }
    .doing_area{
        padding: 74px 0px 75px 0px;
    }
    .our_mission_area {
        padding: 75px 0px 50px;
    }
    .soon .soon-group-inner .soon-group.soon-group-sub{
        display: block;
        margin: 0 auto 30px;
        padding-left: 0px;
    }
    .charity_event_about{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .volunteer_area.volunter-team {
        padding-top: 65px;
        padding-bottom: 75px;
    }
    .banner_area.banner_style2 .banner_content h4{
        font-size: 29px;
    }
    .title_fun h2{
        font-size: 29px;
    }
    .banner_area.banner_style2{
        padding-top: 122px;
    }
    .needs_area {
        padding: 75px 0px 45px;
    }
    .volunteer_area.volunteer_area_three .left_side_volunteer .volunteer_content .next_event {
        margin-top: 23px;
    }
    .volunteer_area.volunteer_area_three .left_side_volunteer{
        padding-bottom: 0px;
    }
    .causes_main {
        max-width: 390px;
        margin: 20px -15px 0px;
    }
    .subscrib_area .subscrib_content h3{
        font-size: 29px;
    }
    .causes_item_area {
        padding: 75px 0px;
    }
    .causes_main_list .media .media-body .causes_left_content .share_causes {
        display: block;
        text-align: left;
        float: none;
    }
    .causes_main_list .media .media-left .causes_list_img img{
        max-width: 100%;
    }
    .pagination_area ul li {
        margin-right: 11px;
    }
    .causes_sidebar_area .row.causes_sidebar_total .causes_sidebar_inner .media .media-body .causes_s_content .progress_bar_main {
        max-width: 85%;
    }
    .causes_sidebar_area .pagination_area {
        margin-top: 0px;
    }
    .causes_sidebar_area {
        padding: 75px 0px;
    }
    .subscrib_area .subscrib_content p{
        font-size: 13px;
    }
    .causes_single_details {
        padding-top: 70px;
    }
    .comment_area .comment_inner .media .media-body .comment_content p{
        padding: 25px 0px 25px 0px;
    }
    .comment_area .comment_inner .media .media-left {
        padding-right: 5px;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane {
        padding: 0px 15px;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane .single_tabe_content .causes_tab_part .single_tab_count .graph_chart{
        margin-top: 0px;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane .single_tabe_content .causes_tab_part .single_tab_count .graph_chart .right_chart{
        position: relative;
        right: 0;
        bottom: 0;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane .single_tabe_content .tags_causes_list {
        padding: 0px 0px 60px;
    }
    .causes_single_tab_area .causes_single_tab_inner .nav-tabs li a{
        font-size: 14px;
        letter-spacing: 0px;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane .media .media-left{
        display: block;
        padding-right: 0px;
        margin-bottom: 30px;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane .media .media-body::before{
        display: none;
    }
    .causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane .media:first-child,.causes_single_tab_area .causes_single_tab_inner .tab-content .tab-pane .media {
        margin-top: 50px;
    }
    .causes_single_tab_area.causes_single3 {
        margin-bottom: 70px;
    }
    .comment_form_area.causes_comment2 {
        padding-top: 70px;
    }
    .donation_area {
        padding: 70px 0px;
    }
    .donation_area .how_much_donate {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .donation_chose .donate_chose .form-group .bootstrap-select{
        margin-top: 15px;
    }
    .donation_area .how_much_donate .donate_price ul li{
        margin-bottom: 5px;
    }
    .donation_form_area .donation_form_inner .form-group:nth-child(3) {
        padding-left: 15px;
        margin-top: 30px;
    }
    .donation_area.donation_area2 .donation_form_area .donation_form_inner2 .form-group .btn_custom_color{
        display: block;
        margin-left: 0px;
        margin-top: 15px;
    }
    .our_events_area.events_grid .search_grid_area .pull-left,.our_events_area.events_grid .search_grid_area .pull-right{
        float: none !important;
        display: block;
        text-align: center;
    }
    .contact_area .comment_form_area .comment_form_inner .form-group textarea {
        height: 250px;
    }
    .volunteer_area.team_page{
        padding: 75px 0px;
    }
    .world_wide_rate .world_title{
        font-size: 20px;
        line-height: 28px;
    }
    .faq_area .contact_title h3{
        font-size: 22px;
        letter-spacing: 0px;
    }
    .faq_area {
        padding: 75px 0px;
    }
    .faq_area .panel-group .panel .panel-collapse .panel-body{
        padding-left: 0px;
    }
    .gallery_area {
        padding: 75px 0px;
    }
    .gallery_area .gallery_menu{
        border: 0px;
    }
    .gallery_area .gallery_title h3{
        font-size: 20px;
        line-height: 30px;
    }
    .gallery_area .gallery_title {
        padding-bottom: 15px;
    }
    .gallery_area .gallery_menu{
        margin-bottom: 15px;
    }
    .child_gallery_grid .col-sm-4{
        width: 100%;
    }
    .child_gallery_grid .grid_ms_item img{
        width: 100%;
    }
    .gallery_area .gallery_menu ul li a {
        line-height: 30px;
    }
    .event_single_inners .event_single_title h3{
        line-height: 28px;
    }
    .blog_list_inners{
        margin-bottom: 30px;
    }
    .blog_grid_ms_area .blog_grid_inners .blog_grid_item{
        width: 100%;
    }
    .blog_grid_ms_area{
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .blog_grid_ms_area .blog_grid_inners .blog_grid_item img{
        width: 100%;
    }
    .author_bio .media .media-left{
        display: block;
        padding-right: 0px;
        margin-bottom: 30px;
    }
    .comment_area .comment_inner .media .media-left .comment_user{
        background: none;
        border: 0px;
    }
    .causes_sidebar_area.single_blog_area .causes_sidebar_total .event_single_inners .comment_area .comment_inner .media .media-left{
        display: block;
        padding-right: 0px;
    }
    .tags_list_area .pull-right,.tags_list_area .pull-left{
        float: none !important;
    }
    .tags_list_area .pull-right{
        margin-top: 20px;
    }
    .causes_sidebar_area.single_blog_area .causes_sidebar_total .event_single_inners .comment_form_area {
        padding-top: 60px;
    }
    .contact_area {
        padding: 75px 0px;
    }
    .says_slider .rev_slider .tp-carousel-wrapper .box_client h4 {
        padding: 7px 0px 7px 0px;
    }
    .says_slider .rev_slider .tp-carousel-wrapper .box_client {
        padding: 18px 20px;
        position: relative;
    }
    .g_ms_23{
        width: 46%;
    }
    .g_ms_27{
        width: 54%;
    }
    .g_ms_50{
        width: 100%;
    }
    .gallery_area .gallery_inners .gallery_items{
        padding: 5px;
    }
}
@media (max-width:400px){
    .comment_area .comment_inner .media .media-left{
        display: block;
    }
    .graph_area .left_graph img{
        max-width: 100%;
    }
    .graph_chart .right_chart{
        margin-top: 30px;
    }
    .causes_single_details .causes_single_inner h4{
        font-size: 27px;
    }
    .faq_area .panel-group .panel .panel-heading .panel-title a i{
        font-size: 15px;
        width: 37px;
    }
    .faq_area .panel-group .panel .panel-heading .panel-title a{
        font-size: 13px;
    }

}
@media (max-width:380px){
    .our_history_area .history_image .history_box{
        border: 0px;
        min-height: auto;
    }
    .our_history_area .history_image .history_box img{
        padding-left: 15px;
        top: 0;
        position: relative;
        transform: translateY(0px);
    }
    .our_history_area .history_image{
        margin-left: 0px;
        max-width: 100%;
    }
    .history_content {
        padding-left: 0px;
        padding-top: 40px;
    }
    .blog_grid_ms_area .blog_grid_inners .blog_grid_item .author_blog{
        display: inline-block;
        float: right;
        padding-top: 0px;
    }
}
@media (max-width: 360px){
    .service_inner .media {
        padding: 25px 10px 25px 10px;
    }
    .service_inner .media .media-body h4 {
        padding-bottom: 12px;
    }
    .service_inner .media .media-body {
        padding-left: 25px;
    }
    .service_inner .media .media-left {
        padding-right: 25px;
    }
    .background_video_row .video_row iframe {
        min-height: 250px;
    }
    .cause_area .cause_content h3 {
        font-size: 30px;
    }
    .causes_item .causes_rate::before {
        right: -43px;
    }
    .read_btn_area .share_video{
        float: left !important;
    }
    .donators_area .donators_logo ul li{
        width:100%;
        padding-right: 0px;
    }
    .subscrib_area .subscrib_content h3 {
        font-size: 23px;
    }
    .subscrib_input {
        width: 290px;
    }
    .gallery_area.column_2_ms .gallery_image .gallery_item .gallery_inner .hover_gallery .gallery_content .gallery_content_inner{
        bottom: 30px;
    }
    .event_list_item_inner .event_list_item .event_right_content h4{
        font-size: 15px;
    }
    .event_single_inners .event_btn_text .read_more_btn{
        margin-top: 20px;
    }
/*
    .causes_item .causes_rate .pull-left h4 {
        font-size: 12px;
    }
    .causes_item .causes_rate {
        padding: 18px 5px;
    }
*/
}
@media (max-width:330px){
    .banner_area .banner_content .banner_link a{
        font-size: 12px;
    }
    .volunteer_singup .form_title h3{
        font-size: 25px;
    }
    .faq_area .panel-group .panel .panel-heading .panel-title a i {
        font-size: 10px;
        width: 25px;
        margin-right: 5px;
    }
    .faq_area .panel-group .panel .panel-heading .panel-title a {
        font-size: 12px;
        letter-spacing: 0px;
    }
    .faq_area .contact_title h3 {
        font-size: 21px;
    }
}

