/* Banner area css
============================================================================================ */
.banner_area{
    background: url(../img/banner_bg.jpg) no-repeat scroll center center;
    padding: 155px 0px 50px 0px;
    position: relative;
    &:before{
        content: '';
        background: rgba(8, 15, 32, .70);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    .banner_content{
        position: relative;
        h4{
            font-size: 35px;
            color: #fff;
            font-weight: $ox;
            text-transform: uppercase;
            font-weight: 700;
            padding-bottom: 45px;
        }
        .banner_link{
            background: #fff;
            border-radius: 17px;
            display: inline-block;
            padding: 0px 30px;
            a{
                line-height: 34px;
                padding-right: 16px;
                font-size: 14px;
                color: $gray;
                position: relative;
                @include transition;
                &:before{
                    content: "\f105";
                    font: normal normal normal 14px/1 FontAwesome;
                    right: 3px;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                }
                &:last-child{
                    padding-right: 0px;
                    &:before{
                        display: none;
                    }
                }
                &:hover, &.active{
                    color: $baseColor;
                }
            }
        }
    }
    &.banner_style2{
        background: url(../img/banner_bg2.jpg) no-repeat scroll center center;
        position: relative;
        &:before{
            display: none;
        }
        .banner_content{
            h4{
                color: $dip;
            }
        }
    }
}
/* End Banner area css
============================================================================================ */