/* Our Blog area css
============================================================================================ */
.our_blog_area{
    padding: 100px 0px;
    .service_title{
        padding-bottom: 50px;
    }
    .blog_middle_img{
        img{
            max-width: 100%;
        }
    }
}
.ready_blog{
    border: 1px solid #dadfe4;
    padding: 35px 50px 38px 50px;
    h3{
        line-height: 28px;
        font-size: 18px;
        color: $dip;
        font-weight: bold;
        font-family: $ox;
        letter-spacing: .20px;
        text-transform: uppercase;
        @include transition;
        &:hover{
            color: $baseColor;
        }
    }
    .media{
        margin-top: 25px;
        margin-bottom: 25px;
        .media-left{
            padding-right: 15px;
        }
        .media-body{
            vertical-align: middle;
            h4{
                font-size: 14px;
                color: $gray;
                letter-spacing: .20px;
                padding-bottom: 8px;
                span{
                    font-weight: bold;
                    color: $dip;
                    letter-spacing: .20px;
                }
            }
            h5{
                color: $baseColor;
                font-size: 14px;
                letter-spacing: .20px;
                font-weight: bold;
                font-weight: $ox;
                i{
                    padding-right: 8px;
                }
            }
        }
    }
    p{
        font-size: 14px;
        line-height: 26px;
        color: $gray;
        letter-spacing: .20px;
        font-family: $ox;
        padding-bottom: 26px;
    }
}
.our_blog_item{
    margin-bottom: 30px;
    .media{
        .media-left{
            padding-right: 30px;
        }
        .media-body{
            h4{
                font-size: 14px;
                color: $dip;
                text-transform: uppercase;
                line-height: 20px;
                letter-spacing: .20px;
                font-family: $ox;
                font-weight: bold;
            }
            p{
                font-size: 12px;
                color: $gray;
                font-family: $ox;
                line-height: 20px;
                letter-spacing: .20px;
                padding: 15px 0px 20px 0px;
            }
            .read_more_btn{
                max-width: 80px;
                height: 30px;
                line-height: 28px;
            }
        }
    }
    &:last-child{
        margin-bottom: 0px;
    }
}
/* End Our Blog area css
============================================================================================ */

/* Comment area css
============================================================================================ */
.comment_area{
    .comment_inner{
        .media{
            overflow: hidden;
            clear: both;
            margin-top: 35px;
            margin-bottom: 0px;
            .media-left{
                padding-right: 38px;
                .comment_user{
                    padding: 4px;
                    border: 1px solid #f7f7f7;
                    background: #f8fcff;
                }
            }
            .media-body{
                .comment_content{
                    max-width: 668px;
                    border-bottom: 1px solid #e5e8ea;
                    h3{
                        font-size: 16px;
                        color: $dip;
                        font-family: $ox;
                        letter-spacing: .32px;
                        text-transform: uppercase;
                        padding: 18px 0px 8px 0px;
                    }
                    h6{
                        font-size: 14px;
                        font-family: $ox;
                        color: #b5c0c9;
                        letter-spacing: .28px;
                        i{
                            padding-right: 3px;
                        }
                    }
                    p{
                        font-size: 14px;
                        color: $gray;
                        line-height: 26px;
                        font-family: $ox;
                        letter-spacing: .28px;
                        padding: 25px 47px 25px 0px;
                    }
                    .comment_reply{
                        text-align: right;
                        display: block;
                        color: #b5b7ba;
                        font-family: $ox;
                        font-size: 14px;
                        letter-spacing: .28px;
                        padding-bottom: 28px;
                        @include transition;
                        i{
                            padding-right: 5px;
                        }
                        &:hover{
                            color: $baseColor;
                        }
                    }
                }
            }
            &.comment_reply{
                max-width: 880px;
                float: right;
                overflow: hidden;
            }
            &:first-child{
                margin-top: 30px;
            }
            &:last-child{
                padding-top: 35px;
                .media-body{
                    .comment_content{
                        border-bottom: 0px;
                    }
                }
            }
        }
    }
}
.comment_form_area{
    padding-top: 115px;
    padding-bottom: 100px;
    .comment_title{
        padding-bottom: 45px;
        h4{
            font-size: 22px;
            color: $dip;
            font-family: $ox;
            font-weight: bold;
            letter-spacing: .44px;
            padding-bottom: 10px;
        }
        h6{
            letter-spacing: .28px;
            font-family: $ox;
            color: $gray;
            font-size: 14px;
        }
    }
    .comment_form_inner{
        .form-group{
            margin-bottom: 30px;
            label{
                color: $dip;
                font-family: $ox;
                font-size: 14px;
                letter-spacing: .28px;
                padding-bottom: 6px;
                span{
                    color: #ff0018;
                }
            }
            input{
                border: 1px solid #e8ebed;
                height: 45px;
                box-sizing: border-box;
                box-shadow: none;
                border-radius: 4px;
                outline: none;
                box-shadow: none;
                font-size: 14px;
                color: #b5c0c9;
                font-family: $ox;
                letter-spacing: .28px;
                @include placeholder{
                    font-size: 14px;
                    color: #b5c0c9;
                    font-family: $ox;
                    letter-spacing: .28px;
                }
                &:focus{
                    border: 1px solid $baseColor;
                }
            }
            textarea{
                border: 1px solid #e8ebed;
                height: 160px;
                box-sizing: border-box;
                box-shadow: none;
                border-radius: 4px;
                outline: none;
                box-shadow: none;
                font-size: 14px;
                color: #b5c0c9;
                font-family: $ox;
                letter-spacing: .28px;
                resize: none;
                @include placeholder{
                    font-size: 14px;
                    color: #b5c0c9;
                    font-family: $ox;
                    letter-spacing: .28px;
                }
                &:focus{
                    border: 1px solid $baseColor;
                }
            }
            .btn_custom_color{
                max-width: 175px;
                text-transform: uppercase;
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    &.causes_comment2{
        padding-top: 100px;
    }
}
/* End Comment area css
============================================================================================ */

/* Blog list area css
============================================================================================ */
.blog_list_inners{
    .blog_list_item{
        margin-bottom: 60px;
        .blog_list_img{
            img{
                max-width: 100%;
                border-radius: 5px;
            }
        }
        .background_video_row{
            .video_row{
                height: 280px;
                iframe{
                    min-height: 280px;
                }
                .overlay{
                    .overlay_bg{
                        background: url(../img/blog/blog-list/blog-list-video.jpg) no-repeat scroll center center;
                        background-size: cover;
                    }
                    .play_pause{
                        i{
                            color: #fff;
                            font-size: 70px;
                            & + i{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
        h4{
            font-family: $ox;
            font-size: 18px;
            color: $dip;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .84px;
            padding: 25px 0px 15px 0px;
        }
        .blog_author{
            a{
                font-size: 14px;
                color: #b5c0c9;
                font-family: $ox;
                letter-spacing: .84px;
                margin-right: 25px;
                span{
                    color: $baseColor;
                }
                i{
                    padding-right: 7px;
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
        p{
            line-height: 26px;
            font-size: 14px;
            font-family: $ox;
            letter-spacing: .28px;
            color: $gray;
            padding: 22px 0px 30px 0px;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
}
/* End Blog list area css
============================================================================================ */

/* Blog Ms area css
============================================================================================ */
.blog_grid_ms_area{
    overflow: hidden;
    padding: 100px 50px 0px 50px;
    .blog_grid_inners{
        margin: -15px;
        .blog_grid_item{
            width: calc(100% / 5);
            float: left;
            overflow: hidden;
            padding: 15px;
            img{
                max-width: 100%;
            }
            .author_blog{
                font-size: 14px;
                color: $gray;
                font-family: $ox;
                display: block;
                padding-top: 15px;
            }
            .blog_full{
                .blog_ms_content{
                    border-left: 1px solid #f1f1f1;
                    border-right: 1px solid #f1f1f1;
                    border-bottom: 1px solid #f1f1f1;
                    padding: 15px;
                    h4{
                        font-size: 16px;
                        font-family: $ox;
                        color: $dip;
                        font-weight: bold;
                        padding: 10px 0px 10px 0px;
                        line-height: 26px;
                    }
                    a{
                        font-size: 12px;
                        color: #b5c0c9;
                        font-family: $ox;
                        margin-right: 20px;
                        span{
                            font-weight: bold;
                        }
                        & + a{
                            margin-right: 0px;
                        }
                    }
                    p{
                        font-size: 14px;
                        color: $gray;
                        font-family: $ox;
                        line-height: 26px;
                        letter-spacing: .28px;
                        padding: 18px 0px;
                    }
                    .read_more{
                        margin: 0px;
                        font-size: 14px;
                        font-family: $ox;
                        font-weight: bold;
                        color: $baseColor;;
                        @include transition;
                        i{
                            padding-left: 10px;
                        }
                        &:hover{
                            color: $dip;
                        }
                    }
                }
            }
            .blog_blank{
                border: 1px solid #f1f1f1;
                background: #f7f8f9;
                padding: 15px;
                h4{
                    font-size: 16px;
                    font-family: $ox;
                    color: $dip;
                    font-weight: bold;
                    padding: 0px 0px 10px 0px;
                    line-height: 26px;
                }
                a{
                    font-size: 12px;
                    color: #b5c0c9;
                    font-family: $ox;
                }
                p{
                    font-size: 14px;
                    color: $gray;
                    font-family: $ox;
                    line-height: 26px;
                    letter-spacing: .28px;
                    padding: 18px 0px;
                }
                .read_more{
                    margin: 0px;
                    font-size: 14px;
                    font-family: $ox;
                    font-weight: bold;
                    color: $baseColor;
                    @include transition;
                    i{
                        padding-left: 10px;
                    }
                    &:hover{
                        color: $dip;
                    }
                }
            }
            .blog_video{
                iframe{
                    min-height: 190px;
                    width: 100%;
                    border: none;
                }
            }
        }
    }
}
#page_nav{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
/* End Blog Ms area css
============================================================================================ */

/* Single Blog area css
============================================================================================ */
.causes_sidebar_area.single_blog_area{
    .causes_sidebar_total{
        .event_single_inners{
            .event_quote{
                position: relative;
                &:before{
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 3.5px 160px 3.5px;
                    border-color: transparent transparent #dadde3 transparent;
                    position: absolute;
                    left: -3px;
                    top: 0px;
                }
                h4{
                    padding-bottom: 20px;
                    padding-top: 21px;
                    color: #b5c0c9;
                }
            }
            .comment_area{
                margin-top: 70px;
                .comment_inner{
                    .media{
                        .media-left{
                            padding-right: 14px;
                        }
                        .media-body{
                            .comment_content{
                                max-width: 100%;
                                p{
                                    padding: 20px 30px 20px 0px;
                                }
                                .comment_reply{
                                    padding-bottom: 20px;
                                }
                            }
                        }
                        &.comment_reply{
                            padding-left: 165px;
                            .media-body{
                                .comment_content{
                                    max-width: 100%;
                                    p{
                                        padding: 20px m0px 20px 0px;
                                    }
                                }
                            }
                        }
                    }
                }
                .read_more_btn{
                    text-align: center;
                    margin: 20px auto 0px;
                    display: block;
                    max-width: 188px;
                }
            }
            .comment_form_area{
                padding-top: 95px;
                padding-bottom: 0px;
            }
        }
    }
}
.tags_list_area{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: 15px 0px;
    .pull-left{
        .tags_list{
            h5{
                display: inline-block;
                font-size: 14px;
                font-family: $ox;
                color: $dip;
                padding-right: 10px;
            }
            ul{
                display: inline-block;
                li{
                    display: inline-block;
                    a{
                        font-size: 14px;
                        text-decoration: underline;
                        color: $baseColor;
                        font-family: $ox;
                    }
                }
            }
        }
    }
    .pull-right{
        ul{
            li{
                display: inline-block;
                a{
                    font-size: 12px;
                    color: #b5c0c9;
                    display: inline-block;
                    border: 1px solid #ddd;
                    width: 24px;
                    height: 24px;
                    text-align: center;
                    line-height: 24px;
                    @include transition;
                    &:hover{
                        color: $baseColor;
                        border-color: $baseColor;
                    }
                }
            }
        }
    }
}
.author_bio{
    padding: 45px 30px;
    background: #f5f5f5;
    border: 1px solid #ececec;
    margin-top: 40px;
    .media{
        .media-left{
            padding-right: 20px;
        }
        .media-body{
            vertical-align: middle;
            h4{
                font-size: 16px;
                color: $dip;
                font-family: $ox;
                font-weight: bold;
                letter-spacing: .32px;
            }
            p{
                font-size: 14px;
                line-height: 26px;
                font-family: $ox;
                color: $gray;
                padding: 15px 0px 15px 0px;
            }
            ul{
                li{
                    display: inline-block;
                    margin-right: 5px;
                    a{
                        font-size: 14px;
                        color: $gray;
                    }
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}
/* End Single Blog area css
============================================================================================ */