/* Join Btn css
============================================================================================ */
.join_btn{
    display: inline-block;
    border: 1px solid $baseColor;
    line-height: 42px;
    color: #fff;
    height: 44px;
    border-radius: 22px;
    max-width: 118px;
    width: 100%;
    text-transform: uppercase;
    font-family: $ox;
    letter-spacing: .20px;
    font-weight: bold;
    z-index: 2;
    position: relative;
    text-align: center;
    &:before{
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        background: $baseColor;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 22px;
        transform-origin: 50%;
        transition-property: transform;
        @include transition;
        transform: scaleX(0);
    }
    &:hover{
        color: #fff;
        &:before{
            transform: scaleX(1);
        }
    }
}
.read_more_btn{
    max-width: 144px;
    width: 100%;
    display: inline-block;
    border: 1px solid $dip;
    text-align: center;
    height: 42px;
    line-height: 40px;
    letter-spacing: .14px;
    font-size: 14px;
    font-family: $ox;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 21px;
    color: $dip;
    position: relative;
    @include transition;
    z-index: 2;
    &:before{
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        background: $baseColor;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        transform-origin: 50%;
        transition-property: transform;
        @include transition;
        transform: scaleX(0);
    }
    &:hover{
        color: #fff;
        border: 1px solid $baseColor;
        &:before{
            transform: scaleX(1);
        }
    }
}
.read_more_btn.white_btn{
    max-width: 156px;
    border: 1px solid #fff;
    color: #fff;
    &:before{
        background: $dip;
    }
    &:hover{
        border: 1px solid $dip;
    }
}
.bg_btn{
    height: 42px;
    max-width: 126px;
    text-align: center;
    border: 1px solid $baseColor;
    width: 100%;
    border-radius: 21px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $ox;
    font-size: 14px;
    letter-spacing: .20px;
    line-height: 40px;
    position: relative;
    z-index: 2;
    color: #fff;
    @include transition;
    &:before{
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        background: $baseColor;
        border-radius: 21px;
        z-index: -1;
        transform-origin: 50%;
        transition-property: transform;
        @include transition;
        transform: scaleX(1);
    }
    &:hover{
        color: $baseColor;
        &:before{
            transform: scaleX(0);
        }
    }
}
// Type Button Background $baseColor
.btn_custom_color{
    max-width: 135px;
    box-shadow: none;
    height: 50px;
    border: none;
    background: $baseColor;
    border-radius: 25px;
    color: #fff;
    font-family: $ox;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .20px;
    @include transition;
    position: relative;
    z-index: 2;
    box-shadow: none;
    outline: none !important;
    width: 100%;
    &:before{
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        background: $dip;
        border-radius: 25px;
        z-index: -1;
        transform-origin: 50%;
        transition-property: transform;
        @include transition;
        transform: scaleX(0);
    }
    &:hover{
        color: #fff;
        background: $baseColor;
        &:before{
            transform: scaleX(1);
        }
    }
}
.btn_custom_color_dip{
    max-width: 204px;
    box-shadow: none;
    height: 50px;
    background: transparent;
    border-radius: 25px;
    color: $gray;
    font-family: $ox;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .20px;
    @include transition;
    position: relative;
    border: 1px solid $gray;
    z-index: 2;
    box-shadow: none;
    outline: none !important;
    width: 100%;
    text-transform: uppercase;
    &:before{
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        background: $baseColor;
        border-radius: 25px;
        z-index: -1;
        transform-origin: 50%;
        transition-property: transform;
        @include transition;
        transform: scaleX(0);
    }
    &:hover{
        color: #fff;
        background: transparent;
        border: 1px solid $baseColor;
        &:before{
            transform: scaleX(1);
        }
    }
}
/* End Join Btn css
============================================================================================ */