/* Say area css
============================================================================================ */
.says_area{
    background: #f8f9fa;
    padding: 100px 0px;
    overflow: hidden;
    .says_title{
        padding-bottom: 50px;
    }
}
.says_slider{
    padding-left: 100px;
    .rev_slider{
        &:before{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7.5px 20px 7.5px 0;
            border-color: transparent #fff transparent transparent;
            position: absolute;
            left: -20px;
            top: 35px; 
        }
        .tp-carousel-wrapper{
            background: #fff;
            border-radius: 15px;
            .box_client{
                padding: 30px 35px;
                position: relative;
                h3{
                    font-size: 16px;
                    color: $baseColor;
                    font-family: $ox;
                    font-weight: bold;
                    letter-spacing: .20px;
                }
                h4{
                    font-size: 14px;
                    color: $dip;
                    font-family: $ox;
                    letter-spacing: .20px;
                    padding: 7px 0px 30px 0px;
                }
                p{
                    font-size: 14px;
                    color: $gray;
                    font-family: $ox;
                    letter-spacing: .20px;
                    line-height: 26px;
                    position: relative;
                    i{
                        font-size: 60px;
                        color: #ddd;
                        position: absolute;
                        margin-left: -10px;
                        z-index: -1;
                    }
                }
            }
        }
        .tp-tabs{
            .tp-tab-mask{
                overflow: visible !important;
                .tp-tabs-inner-wrapper{
                    left: -100px;
                    .tp-tab{
                        background: transparent;
                        padding: 0px;
                        display: block;
                        opacity: .5;
                        &.selected{
                            opacity: 1;
                        }
                        .tp-tab-image{
                            height: 68px;
                            width: 68px;
                        }
                    }
                }
            }    
        }
    }
    .tp-leftarrow{
        background: transparent;
        border: 1px solid #d2d5db;
        color: #d2d5db;
        height: 40px;
        width: 22px;
        border-radius: 11px;
        &:before{
            color: #d2d5db;
            content: "\e877";
            font-family: 'Linearicons-Free';
            font-size: 14px;
            
        }
    }
    .tp-rightarrow{
        background: transparent;
        border: 1px solid #d2d5db;
        color: #d2d5db;
        height: 40px;
        width: 22px;
        border-radius: 11px;
        &:before{
            color: #d2d5db;
            content: "\e878";
            font-family: 'Linearicons-Free';
            font-size: 14px;
            
        }
    }
}
.donators_area{
    .donators_logo{
        ul{
            margin-right: -18px;
            overflow: hidden;
            margin-bottom: -29px;
            li{
                width: calc(100% / 3);
                float: left;
                overflow: hidden;
                padding-right: 18px;
                padding-bottom: 29px;
                a{
                    text-align: center;
                    line-height: 65px;
                    display: block;
                    border: 2px solid #fff;
                    box-sizing: border-box;
                    @include transition;
                    img{
                        line-height: 65px;
                    }
                }
                &:hover{
                    a{
                        border: 2px solid $baseColor;;
                    }
                }
            }
        }
    }
}
/* End Say area css
============================================================================================ */