/* Map area css
============================================================================================ */
.map_area_touch{
    position: relative;
    .map_area{
        min-height: 630px;
        width: 100%;
    }
    .get_in_touch_details{
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        padding: 50px 0px;
        .touch_details_inner{
            background: #fff;
            .touch_content{
                padding-left: 100px;
                padding-top: 100px;
                position: relative;
                padding-bottom: 90px;
                &:before{
                    content: '';
                    width: 1px;
                    background: #ddd;
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 373px;
                }
                .touch_title{
                    h3{
                        font-size: 18px;
                        color: $dip;
                        letter-spacing: .20px;
                        font-weight: bold;
                        font-family: $ox;
                        text-transform: uppercase;
                    }
                }
                .media{
                    margin-top: 45px;
                    .media-left{
                        padding-right: 13px;
                        i{
                            font-size: 50px;
                            color: $baseColor;
                        }
                    }
                    .media-body{
                        h4{
                            font-size: 16px;
                            color: $dip;
                            letter-spacing: .20px;
                            font-weight: bold;
                            font-family: $ox;
                            text-transform: uppercase;
                            padding-bottom: 8px;
                        }
                        h6{
                            font-size: 14px;
                            color: $gray;
                            font-weight: bold;
                            font-family: $ox;
                            letter-spacing: .20px;
                            line-height: 28px;
                        }
                    }
                }
            }
            .subscribe_content{
                max-width: 460px;
                padding-left: 112px;
                padding-top: 115px;
                h3{
                    color: $baseColor;
                    font-family: $ox;
                    line-height: 40px;
                    font-size: 35px;
                    letter-spacing: .20px;
                    font-weight: bold;
                }
                p{
                    font-size: 14px;
                    line-height: 26px;
                    letter-spacing: .20px;
                    color: $gray;
                    font-family: $ox;
                    padding: 40px 0px 30px 0px;
                }
                .input-group{
                    position: relative;
                    width: 100%;
                    input{
                        width: 100%;
                        box-shadow: none;
                        outline: none;
                        border: 2px solid #ddd;
                        height: 50px;
                        border-radius: 25px;
                        line-height: 50px;
                        vertical-align: middle;
                        padding: 0px 55px 0px 20px;
                        font-size: 14px;
                        letter-spacing: .80px;
                        font-family: $ox;
                        color: $gray;
                        @include placeholder{
                            font-size: 14px;
                            letter-spacing: .80px;
                            font-family: $ox;
                            color: $gray;
                        }
                    }
                    .input-group-btn{
                        .btn-default{
                            position: absolute;
                            right: 7px;
                            top: 50%;
                            transform: translateY(-50%);
                            border: none;
                            padding: 0px;
                            height: 42px;
                            width: 50px;
                            background: $baseColor;
                            text-align: center;
                            color: #fff;
                            border-top-right-radius: 25px;
                            border-bottom-right-radius: 25px;
                            z-index: 3;
                        }
                    }
                }
            }
        }
    }
}
/* End Map area css
============================================================================================ */

/* Subscrib area css
============================================================================================ */
.subscrib_area{
    background: url(../img/subscrib_bg.jpg) no-repeat scroll center center;
    padding: 53px 0px;
    background-size: cover;
    .subscrib_content{
        h3{
            letter-spacing: .20px;
            font-size: 35px;
            font-family: $ox;
            font-weight: bold;
            color: $baseColor;
            padding-bottom: 25px;
        }
        p{
            font-size: 14px;
            font-family: $ox;
            color: #ddd;
            line-height: 26px;
            letter-spacing: .20px;
            max-width: 365px;
        }
    }
}
.subscrib_input{
    position: relative;
    width: 460px;
    margin: 30px auto 0;
    input{
        width: 100%;
        box-shadow: none !important;
        outline: none !important;
        border: 2px solid #ddd !important;
        height: 50px;
        border-radius: 25px !important;
        line-height: 50px;
        vertical-align: middle;
        padding: 0px 55px 0px 20px;
        font-size: 14px;
        letter-spacing: .80px;
        font-family: $ox;
        color: $gray;
        background: transparent;
        @include placeholder{
            font-size: 14px;
            letter-spacing: .80px;
            font-family: $ox;
            color: $gray;
        }
        &:fous{
            outline: none;
            box-shadow: none;
        }
    }
    .input-group-btn{
        .btn-default{
            position: absolute;
            right: 7px;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            padding: 0px;
            height: 42px;
            width: 50px;
            background: $baseColor;
            text-align: center;
            color: #fff;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            outline: none !important;
            box-shadow: none !important;
            z-index: 3;
            &:fous{
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }
}
/* End Subscrib area css
============================================================================================ */

/* Volunteer Singup area css
============================================================================================ */
.volunteer_singup_area{
    padding: 50px 0px 100px 0px;
    .team_image{
        &:before{
            bottom: 0px;
        }
    }
}
.volunteer_singup{
    .form_title{
        padding-bottom: 35px;
        padding-top: 45px;
        h3{
            font-size: 27px;
            color: $dip;
            font-weight: bold;
            font-family: $ox;
            text-transform: uppercase;
            letter-spacing: .20px;
            padding-bottom: 20px;
            span{
                color: $baseColor;
            }
        }
        p{
            font-size: 14px;
            line-height: 26px;
            letter-spacing: .20px;
            font-family: $ox;
            color: $gray;
        }
    }
    .singup_inner{
        .form-group{
            margin-bottom: 26px;
            label{
                font-size: 16px;
                color: $dip;
                font-family: $ox;
                letter-spacing: .20px;
                padding-bottom: 10px;
                span{
                    color: #ff0000;
                }
            }
            input{
                height: 42px;
                background: transparent;
                border: 1px solid #cbd0d9;
                border-radius: 0px;
                box-shadow: none;
                line-height: 26px;
                font-size: 14px;
                letter-spacing: .20px;
                font-family: $ox;
                color: #b5c0c9;
                padding: 0px 14px;
                @include transition;
                @include placeholder{
                    line-height: 26px;
                    font-size: 14px;
                    letter-spacing: .20px;
                    font-family: $ox;
                    color: #b5c0c9;
                }
                &:focus{
                    border: 1px solid $baseColor;
                }
            }
            textarea{
                height: 100px;
                background: transparent;
                border: 1px solid #cbd0d9;
                border-radius: 0px;
                box-shadow: none;
                resize: none;
                padding: 10px 14px;
                line-height: 26px;
                font-size: 14px;
                letter-spacing: .20px;
                font-family: $ox;
                color: #b5c0c9;
                @include transition;
                @include placeholder{
                    line-height: 26px;
                    font-size: 14px;
                    letter-spacing: .20px;
                    font-family: $ox;
                    color: #b5c0c9;
                }
                &:focus{
                    border: 1px solid $baseColor;
                }
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
}
/* End Volunteer Singup area css
============================================================================================ */

/* Contact area css
============================================================================================ */
.contact_title{
    text-align: center;
    h3{
        font-size: 30px;
        font-family: $ox;
        font-weight: bold;
        letter-spacing: .56px;
        padding-bottom: 25px;
    }
    p{
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .28px;
        color: $gray;
        font-family: $ox;
        max-width: 642px;
        line-height: 26px;
        margin: auto;
    }
}
.contact_area{
    padding: 100px 0px;
    .contact_title{
        padding-bottom: 100px;
    }
    .comment_form_area{
        padding-top: 0px;
        padding-bottom: 0px;
        .comment_form_inner{
            .form-group{
                label{
                    span{
                        color: $baseColor;
                    }
                }
                input{
                    height: 50px;
                    border-radius: 0px;
                }
                textarea{
                    border-radius: 0px;
                    height: 430px;
                    resize: vertical;
                }
            }
        }
    }
    .right_contact_details{
        border: 1px solid #f7f7f7;
        .contact_details_inners{
            padding-left: 50px;
            padding-top: 60px;
            .media{
                margin-bottom: 30px;
                .media-left{
                    i{
                        color: $baseColor;
                        font-size: 40px;
                    }
                }
                .media-body{
                    vertical-align: middle;
                    h4{
                        font-size: 16px;
                        font-family: $ox;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: .32px;
                        padding-bottom: 10px;
                    }
                    h5{
                        font-size: 14px;
                        font-weight: bold;
                        font-family: $ox;
                        color: $gray;
                        letter-spacing: .28px;
                    }
                }
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
        .mapBox{
            min-height: 350px;
            margin-top: 60px;
        }
    }
    &.contact_area2{
        .right_contact_details{
            border: none;
            position: relative;
            .mapBox.row.m0{
                margin-top: 0px;
                min-height: 475px;
            }
            .contact_details_inners{
                position: absolute;
                bottom: 0px;
                left: 0px;
                background: rgba(255, 255, 255, 0.8);
                width: 100%;
                padding: 40px 0px 30px 50px;
                .media{
                    display: inline-block;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    .media-left{}
                    .media-body{
                        width: auto;
                        vertical-align: top;
                    }
                    &:nth-child(2){
                        padding-left: 140px;
                    }
                    &:last-child{
                        position: relative;
                        width: 240px;
                        float: right;
                        top: -12px;
                        .media-body{
                            vertical-align: top;
                        }
                    }
                }
            }
        }
        .comment_form_area{
            padding-top: 95px;
            h4{
                font-family: $ox;
                font-weight: bold;
                font-size: 18px;
                color: $dip;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                padding-bottom: 5px;
                margin-bottom: 25px;
                &:before{
                    content: "";
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    background: $baseColor;
                }
            }
            .comment_form_inner{
                .form-group{
                    label{
                        font-size: 18px;
                        font-weight: normal;
                    }
                    textarea{
                        height: 140px;
                    }
                }
            }
        }
    }
}
/* End Contact area css
============================================================================================ */

/* End Contact area css
============================================================================================ */
.faq_area{
    padding: 100px 0px;
    .contact_title{
        padding-bottom: 50px;
        h3{
            padding-bottom: 20px;
        }
    }
    .panel-group{
        margin-bottom: 0px;
        .panel{
            border: none;
            box-shadow: none;
            margin-bottom: 20px;
            margin-top: 0px;
            &:last-child{
                margin-bottom: 0px;
            }
            .panel-heading{
                border: none;
                box-shadow: none;
                padding: 0px;
                border-radius: 5px;
                .panel-title{
                    a{
                        font-size: 18px;
                        color: $gray;
                        font-family: $ox;
                        font-weight: bold;
                        letter-spacing: .36px;
                        display: block;
                        background: #f5f5f5;
                        border-radius: 5px;
                        .lnr-chevron-down{
                            display: none;
                        }
                        .lnr-chevron-up{
                            display: inline-block;
                        }
                        i{
                            width: 55px;
                            text-align: center;
                            line-height: 55px;
                            color: #fff;
                            background: $baseColor;
                            font-size: 20px;
                            margin-right: 25px;
                            border-bottom-left-radius: 5px;
                            border-top-left-radius: 5px;
                        }
                    }
                    .collapsed{
                        .lnr-chevron-up{
                            display: none;
                        }
                        .lnr-chevron-down{
                            display: inline-block;
                        }
                    }
                }
            }
            .panel-collapse{
                .panel-body{
                    border: none;
                    padding: 20px 0px 10px 56px;
                    .media{
                        .media-left{
                            padding-right: 18px;
                        }
                        .media-body{
                            p{
                                font-size: 14px;
                                line-height: 26px;
                                color: $gray;
                                letter-spacing: .28px;
                                font-family: $ox;
                                padding-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* End Contact area css
============================================================================================ */