/* Footer area css
============================================================================================ */
.footer_area{
    background: url(../img/footer-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
}
.footer_widgets_area{
    padding: 110px 0px 80px 0px;
    overflow: hidden;
}
.f_widget_item{
    
}
.about_widget{
    img{
        max-width: 100%;
        margin-bottom: 40px;
    }
    p{
        font-size: 14px;
        line-height: 26px;
        letter-spacing: .20px;
        color: $gray;
        font-family: $ox;
        border-bottom: 1px solid #ddd;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    .read_more_btn{
        max-width: 130px;
        height: 40px;
    }
}
.couses_widget{
    ul{
        li{
            a{
                font-size: 14px;
                letter-spacing: .20px;
                line-height: 26px;
                color: $gray;
                font-family: $ox;
                font-weight: bold;
                padding-bottom: 15px;
                display: inline-block;
                @include transition;
                span{
                    font-weight: 300;;
                }
                &:hover{
                    color: $baseColor;
                }
            }
            &:last-child{
                a{
                    padding-bottom: 0px;
                }
            }
        }
    }
}
.flicker_widget{
    margin-right: -30px;
    ul{
        margin-right: -30px;
        margin-top: -30px;
        li{
            height: 67px !important;
            width: 67px !important;
            margin: 30px 30px 0px 0px;
            a{
                img{
                }
            }
        }
    }
}
.twitter_widget{
    .tweets_feed{
        ul{
            li{
                padding-bottom: 42px;
                padding-top: 20px;
                border-bottom: 1px solid #ddd;
                .media{
                    .media-left{
                        padding-right: 14px;
                        a{
                            font-size: 24px;
                            color: $baseColor;
                        }
                    }
                    .media-body{
                        font-size: 14px;
                        color: $gray;
                        letter-spacing: .20px;
                        line-height: 26px;
                        font-family: $ox;
                        a{
                            font-size: 14px;
                            color: $baseColor;
                            letter-spacing: .20px;
                            line-height: 26px;
                            font-family: $ox;
                        }
                    }
                }
                &:first-child{
                    padding-top: 0px;
                }
            }
        }
    }
}
.f_widget_title{
    padding-bottom: 45px;
    h4{
        font-size: 18px;
        color: $dip;
        font-family: $ox;
        letter-spacing: 1px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
.copy_right_area{
    overflow: hidden;
    border-top: 1px solid #ddd;
    padding: 25px 0px 30px 0px;
    .pull-left{
        h5{
            font-size: 14px;
            color: $gray;
            letter-spacing: .20px;
            font-family: $ox;
            padding-top: 8px;
            span{
                font-weight: bold;
            }
            a{
                color: $dip;
            }
        }
    }
}
.footer_social{
    li{
        display: inline-block;
        a{
            height: 30px;
            width: 30px;
            border: 1px solid #ddd;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            font-size: 14px;
            color: $gray;
            line-height: 28px;
            vertical-align: middle;
            margin-right: 8px;
            @include transition;
        }
        &:last-child{
            a{
                margin-right: 0px;
            }
        }
        &:hover{
            a{
                background: $baseColor;
                border: 1px solid $baseColor;
                color: #fff;
            }
        }
    }
}
.scroll_top{
    background: #fff;
    border: 1px solid $dip;
    width: 57px;
    height: 57px;
    text-align: center;
    line-height: 57px;
    transform: rotate(-45deg);
    position: absolute;
    left: 50%;
    margin-left: -28px;
    top: -28px;
    cursor: pointer;
    @include transition;
    i{
        color: $dip;
        font-size: 14px;
        transform: rotate(45deg);
        display: inline-block;
        text-align: center;
        @include transition;
    }
    &:hover{
        border-color: $baseColor;
        i{
            color: $baseColor;    
        }
    }
}
/* End Footer area css
============================================================================================ */