/* Gallery area css
============================================================================================ */
.our_gallery_area{
    background: #f8f9fa;
    padding: 100px 0px;
    .service_title{
        
    }
}
.gallery_menu{
    margin-top: 50px;
    margin-bottom: 8px;
    ul{
        text-align: center;
        li{
            display: inline-block;
            padding: 0px 24px 0px 24px;
            position: relative;
            a{
                letter-spacing: .80px;
                font-weight: bold;
                font-family: $ox;
                font-size: 14px;
                text-transform: uppercase;
                color: #b5c0c9;
            }
            &:first-child{
                padding-left: 0px;
            }
            &:last-child{
                padding-right: 0px;
                &:before{
                    display: none;
                }
            }
            &:before{
                content: "";
                width: 4px;
                height: 1px;
                background: #b5c0c9;
                position: absolute;
                right: 0px;
                top: 50%;
            }
            &.active{
                a{
                    color: $dip;
                }
            }
        }
    }
}
.gallery_image{
    .gallery_item{
        .gallery_inner{
            max-width: 100%;
            margin-top: 30px;
            position: relative;
            img{
                max-width: 100%;
            }
            .hover_gallery{
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                -webkit-perspective: 1700px;
                -moz-perspective: 1700px;
                perspective: 1700px;
                -webkit-perspective-origin: 0 50%;
                -moz-perspective-origin: 0 50%;
                perspective-origin: 0 50%;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                transform-style: preserve-3d;
                .gallery_content{
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    padding: 14px;
                    background: rgba(255, 125, 1, .80);
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transform-origin: 0 0;
                    -moz-transform-origin: 0 0;
                    transform-origin: 0 0;
                    -webkit-transform: rotateY(-90deg);
                    -moz-transform: rotateY(-90deg);
                    transform: rotateY(-90deg);
                    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
                    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
                    transition: transform 0.4s, opacity 0.1s 0.3s;
                    .border_div{
                        border: 2px solid #feca98;
                        width: 100%;
                        height: 100%;
                    }
                    .gallery_content_inner{
                        position: absolute;
                        bottom: 30px;
                        width: 100%;
                        left: 0px;
                        padding-left: 40px;
                        padding-right: 30px;
                    }
                    h4{
                        font-size: 18px;
                        letter-spacing: .20px;
                        font-family: $ox;
                        font-weight: bold;
                        color: #fff;
                        text-transform: uppercase;
                        padding-bottom: 10px;
                    }
                    h5{
                        font-size: 14px;
                        font-family: $ox;
                        color: #fff;
                        font-weight: bold;
                        letter-spacing: .20px;
                    }
                    a{
                        position: absolute;
                        right: 30px;
                        top: 0px;
                        color: #fff;
                        font-size: 30px;
                    }
                }
            }
        }
        &:hover{
            .gallery_inner{
                .hover_gallery{
                    
                    .gallery_content{
                        opacity: 1;
                        -webkit-transform: rotateY(0deg);
                        -moz-transform: rotateY(0deg);
                        transform: rotateY(0deg);
                        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
                        -moz-transition: -moz-transform 0.4s, opacity 0.1s;
                        transition: transform 0.4s, opacity 0.1s;
                    }
                }
            }
        }
    }
}
.gallery_image.gallery_image2{
    .gallery_inner{
        .hover_gallery{
            .gallery_content{
                .gallery_content_inner{
                    bottom: auto;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    a{
                        position: relative;
                        left: 0px;
                        right: 0px;
                        text-align: center;
                        padding-bottom: 10px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
/* End Gallery area css
============================================================================================ */

/* Gallery Ms area css
============================================================================================ */
.g_ms_23{
    width: 23%;
}
.g_ms_27{
    width: 27%;
}
.g_ms_50{
    width: 50%;
}
.gallery_area{
    padding: 100px 15px;
    text-align: center;
    .gallery_title{
        padding-bottom: 40px;
        h3{
            letter-spacing: .56px;
            font-family: $ox;
            font-weight: bold;
            text-transform: uppercase;
            color: $dip;
            font-size: 28px;
            padding-bottom: 28px;
        }
        p{
            font-size: 14px;
            color: $gray;
            line-height: 26px;
            font-family: $ox;
            letter-spacing: .28px;
            max-width: 750px;
            margin: auto;
        }
    }
    .gallery_inners{
        .gallery_items{
            padding: 10px;
            img{
                width: 100%;
            }
        }
    }
    .view_more{
        margin-top: 40px;
    }
}
/* End Gallery Ms area css
============================================================================================ */

/* End Gallery Ms area css
============================================================================================ */
.gallery_area{
    .gallery_menu{
        border: 1px solid #dadde3;
        border-radius: 27px;
        margin: 10px 0px 35px 0px;
        ul{
            li{
                a{
                    line-height: 52px;
                }
            }
        }
    }
    &.column_2_ms{
        .gallery_menu{
            margin-bottom: 25px;
        }
        .gallery_image{
            .gallery_item{
                text-align: left;
                .hover_gallery{
                    .gallery_content{
                        a{
                            width: 100%;
                            text-align: center;
                            left: 0px;
                            right: auto;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 70px;
                        }
                        .gallery_content_inner{
                            
                        }
                    }
                }
            }
        }
        .view_more{
            margin-top: 50px;
        }
    }
}
.child_gallery_grid{
    
    .col-sm-4{
        margin: 15px 0px;
    }   
    .grid_ms_item{
        img{
            max-width: 100%;
        }
    }
}
/* End Gallery Ms area css
============================================================================================ */