/* First header css
============================================================================================ */
.header_first{
    overflow: hidden;
    .left_side{
        width: calc(50% - 210px);
        float: left;
        background: $baseColor;
        height: 116px;
        position: relative;
        &:before{
            content: "";
            right: -116px;
            top: 0px;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 116px 116px 0 0;
            border-color: $baseColor transparent transparent transparent;
        }
        .logo_area{
            max-width: 360px;
            float: right;
            width: 100%;
            padding-top: 34px;
            img{
                max-width: 100%;
            }
        }
    }
    .right_side{
        width: calc(50% + 210px);
        float: right;
        height: 116px;
        padding-left: 226px;
        .contact_details{
            .media{
                display: inline-block;
                padding-top: 14px;
                .media-left{
                    padding-right: 15px;
                    i{
                        height: 55px;
                        width: 55px;
                        border: 1px solid #dadde3;
                        border-radius: 50%;
                        text-align: center;
                        font-size: 28.31px;
                        color: $dip;
                        line-height: 52px;
                    }
                }
                .media-body{
                    width: auto;
                    vertical-align: middle;
                    h4{
                        font-family: $ox;
                        font-weight: bold;
                        font-size: 16px;
                        color: $baseColor;
                        text-transform: uppercase;
                        letter-spacing: .20px;
                        padding-bottom: 12px;
                    }
                    h6{
                        font-size: 16px;
                        font-family: $ox;
                        color: $dip;
                        letter-spacing: .20px;
                    }
                }
                &:last-child{
                    padding-left: 70px;
                }
            }
        }
    }
}
/* End First header css
============================================================================================ */

/* Main Menu css
============================================================================================ */
.main_menu_area{
    background: #080f20;
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 99;
    .navbar.navbar-default{
        border: none;
        margin-bottom: 0px;
        background: transparent;
        .navbar-toggle{
            background: #080f20;
            &:hover,&:focus{
                background: #080f20;
            }
        }
        .navbar-collapse{
            padding: 0px;
            .nav.navbar-nav{
                text-align: center;
                float: none;
                li{
                    float: none;
                    display: inline-block;
                    position: relative;
                    a{
                        text-shadow: none;
                        padding: 0px 22px;
                        background: none;
                        line-height: 70px;
                        color: #ddd;
                        font-size: 12px;
                        font-family: $ox;
                        text-transform: uppercase;
                        font-weight: bold;
                        letter-spacing: .60px;
                        @include transition;
                        i{
                            font-size: 14px;
                            padding-left: 5px;
                        }
                    }
                    &:before{
                        content: "";
                        height: 1px;
                        width: 5px;
                        position: absolute;
                        left: -2.5px;
                        top: 50%;
                        background: #47596b;
                        transform: translateY(-50%);
                    }
                    &:first-child{
                        &:before{
                            display: none;
                        }
                    }
                    &:hover, &.active{
                        a{
                            color: $baseColor;
                        }
                    }
                    &.submenu{
                        .dropdown-menu{
                            background: #080f20;
                            border-radius: 0px;
                            border: none;
                            @media (min-width: 768px){
                                display: block;
                                padding: 0px;
                                transform: rotateX(-90deg);
                                perspective-origin: top center;
                                transform-origin: top;
                                @include transition;
                            }
                            li{
                                width: 100%;
                                a{
                                    line-height: 45px;
                                    border-bottom: 1px solid #47596b;
                                    color: #ddd;
                                    padding: 0px 20px;
                                }
                                &:before{
                                    display: none;
                                }
                                &:last-child{
                                    a{
                                        border-bottom: none;
                                    }
                                }
                                &:hover{
                                    a{
                                        color: $baseColor;
                                    }
                                }
                            }
                        }
                        &:hover{
                            @media (min-width: 768px){
                                .dropdown-menu{
                                    transform: scale(1, 1);
                                    transform: perspective(150) rotateX(0);
                                    -webkit-transform: perspective(150) rotateX(0);
                                }
                            }
                        }
                    }
                    &:last-child{
                        a{
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
    }
    &.stricky-fixed{
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 9999;
    }
}
/* End Main Menu css
============================================================================================ */

/* Main Menu Left css
============================================================================================ */
.main_menu_area.left_menu{
    background: #fff;
    position: relative;
    .navbar.navbar-default{
        .navbar-collapse{
            .nav.navbar-nav{
                display: inline-block;
                text-align: left;
                li{
                    a{
                       color: $dip;
                        line-height: 60px;
                    }
                    &.submenu{
                        .dropdown-menu{
                            background: #080f20;
                            border-radius: 0px;
                            border: none;
                            @media (min-width: 768px){
                                display: block;
                                padding: 0px;
                                transform: rotateX(-90deg);
                                perspective-origin: top center;
                                transform-origin: top;
                                @include transition;
                            }
                            li{
                                width: 100%;
                                a{
                                    line-height: 45px;
                                    border-bottom: 1px solid #47596b;
                                    color: #ddd;
                                    padding: 0px 20px;
                                }
                                &:before{
                                    display: none;
                                }
                                &:last-child{
                                    a{
                                        border-bottom: none;
                                    }
                                }
                                &:hover{
                                    a{
                                        color: $baseColor;
                                    }
                                }
                            }
                        }
                        &:hover{
                            @media (min-width: 768px){
                                .dropdown-menu{
                                    transform: scale(1, 1);
                                    transform: perspective(150) rotateX(0);
                                    -webkit-transform: perspective(150) rotateX(0);
                                }
                            }
                        }
                    }
                    &:first-child{
                        a{
                            padding-left: 0px;
                        }
                    }
                    &:hover, &.active{
                        a{
                            color: $baseColor;
                        }
                    }
                }
            }
            .navbar-right.footer_social{
                li{
                    line-height: 60px;
                }
            }
        }
    }
    &.stricky-fixed{
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 9999;
        + section, + div,+ .row{
            margin-top: 60px;
        }
    }
}
/* End Main Menu Left css
============================================================================================ */

/* Home 2 menu Variation */

/* Top Header css
============================================================================================ */
.header_top{
    background: #243a4f;
    .pull-left{
        font-size: 12px;
        color: $gray;
        font-family: $ox;
        font-weight: bold;
        letter-spacing: .20px;
        h5{
            font-size: 12px;
            color: $gray;
            font-family: $ox;
            font-weight: bold;
            letter-spacing: .80px;
            display: inline-block;
            line-height: 48px;
        }
        a{
            font-size: 12px;
            color: $gray;
            font-family: $ox;
            font-weight: bold;
            letter-spacing: .80px;
            @include transition;
            &:hover{
                color: $baseColor;
            }
        }
    }
    .pull-right{
        a{
            font-size: 12px;
            color: $gray;
            font-family: $ox;
            font-weight: bold;
            letter-spacing: .80px;
            padding-right: 20px;
            line-height: 48px;
            @include transition;
            &:hover, &:focus{
                color: $baseColor;
            }
        }
        .bootstrap-select{
            width: auto !important;
            max-width: 85px;
            min-width: 85px;
            .dropdown-toggle{
                box-shadow: none;
                background: transparent;
                border: none;
                text-shadow: none;
                padding: 0px 0px 0px 18px;
                outline: none;
                &:focus{
                    outline: none !important;
                    box-shadow: none;
                }
                .filter-option{
                    font-size: 12px;
                    color: $gray;
                    font-family: $ox;
                    font-weight: bold;
                    letter-spacing: .80px;
                    text-shadow: none;
                }
                .bs-caret{
                    color: #fff;
                    &:before{
                        content: "\f107";
                        font: normal normal normal 12px/1 FontAwesome;
                        color: $gray;
                        position: relative;
                        right: 10px;
                    }
                    .caret{
                        display: none;
                    }
                }
            }
            .dropdown-menu{
                margin: 14px 0px 0px 0px;
                padding: 0px;
                border: none;
                border-radius: 0px;
                .dropdown-menu.inner{
                    margin: 0px;
                    li{
                        a{
                            line-height: 30px;
                            background: #243a4f;
                        }
                    }
                }
            }
        }
    }
}
/* End Top Header css
============================================================================================ */

/* Header Logo css
============================================================================================ */
.header_logo_area{
    border-bottom: 1px solid #ddd;
    .pull-left{
        a{
            display: inline-block;
            padding: 20px 0px 18px 0px;
        }
    }
    .pull-right{
        .media{
            display: inline-block;
            margin-top: 20px;
            margin-right: 35px;
            .media-left{
                padding-right: 10px;
                i{
                    height: 38px;
                    width: 38px;
                    border: 1px solid #dde0e5;
                    text-align: center;
                    font-size: 19.56px;
                    color: $dip;
                    border-radius: 50%;
                    line-height: 17px;
                    line-height: 35px;
                }
            }
            .media-body{
                width: auto;
                vertical-align: middle;
                h4{
                    font-size: 12px;
                    letter-spacing: .20px;
                    color: $baseColor;
                    font-weight: bold;
                    font-family: $ox;
                    text-transform: uppercase;
                    padding-bottom: 7px;
                }
                a{
                    font-size: 12px;
                    color: $dip;
                    letter-spacing: .20px;
                    font-weight: bold;
                    font-family: $ox;
                }
            }
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}
/* End Header Logo css
============================================================================================ */