/* End Doing area css
============================================================================================ */
.volunteer_area{
    padding: 100px 0px;
    .service_title{
        padding-bottom: 50px;
    }
    .view_more{
        text-align: center;
        margin-top: 50px;
    }
    &.team_page{
        .volunteer_inner{
            margin-top: -30px;
            .members_item{
                margin-top: 30px;
            }
        }
        .view_more{
            .read_more_btn{
                max-width: 165px;
                i{
                    padding-right: 10px;
                }
            }
        }
    }
}
.volunteer_inner{
    
}
.members_item{
    img{
        max-width: 100%;
    }
    .members_details{
        border: 1px solid #f8f8f8;
        text-align: center;
        overflow: hidden;
        @include transition;
        h4{
            font-size: 18px;
            letter-spacing: .20px;
            font-weight: bold;
            color: $dip;
            text-transform: uppercase;
            padding: 30px 0px 8px 0px;
            @include transition;
        }
        h5{
            font-size: 14px;
            color: $gray;
            font-family: $ox;
            letter-spacing: .20px;
            padding-bottom: 30px;
            @include transition;
        }
        ul{
            max-width: 185px;
            margin: auto;
            li{
                float: left;
                overflow: hidden;
                width: calc(100% / 4);
                border: 1px solid #f8f8f8;
                box-sizing: border-box;
                margin-right: -1px;
                margin-bottom: -1px;
                @include transition;
                a{
                    display: inline-block;
                    font-size: 14px;
                    color: $dip;
                    line-height: 40px;
                    @include transition;
                }
            }
        }
    }
    &:hover{
        .members_details{
            background: $baseColor;
            border: 1px solid $baseColor;
            h4{
                color: #fff;
            }
            h5{
                color: #fff;
            }
            ul{
                li{
                    border: 1px solid #fff;
                    box-sizing: border-box;
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}
/* Our Mission area css
============================================================================================ */

/* Team Details area css
============================================================================================ */
.team_details_area{
    padding-top: 45px;
    .team_details_slider{
        .tema_content{
            padding-top: 180px;
            h3{
                font-size: 27px;
                color: $baseColor;
                font-family: $ox;
                font-weight: bold;
                text-transform: uppercase;
                padding-bottom: 20px;
            }
            h4{
                font-size: 18px;
                font-family: $ox;
                color: #b5c0c9;
                font-weight: bold;
                padding-bottom: 45px;
            }
            h5{
                font-size: 16px;
                color: #b5c0c9;
                font-family: $ox;
                font-weight: bold;
                padding-bottom: 12px;
                span{
                    color: $gray;
                }
            }
            p{
                font-size: 14px;
                line-height: 26px;
                letter-spacing: .20px;
                font-family: $ox;
                color: $gray;
                padding-bottom: 35px;
                padding-top: 40px;
                & + p{
                    padding-bottom: 0px;
                    padding-top: 0px;
                }
            }
            .team_social{
                padding-top: 40px;
                h6{
                    display: inline-block;
                    font-size: 14px;
                    color: $dip;
                    letter-spacing: 1px;
                }
                ul{
                    display: inline-block;
                    padding-left: 15px;
                    li{
                        display: inline-block;
                        a{
                            height: 20px;
                            width: 20px;
                            background: #f2f2f2;
                            text-align: center;
                            color: $gray;
                            font-size: 12.17px;
                            border-radius: 50%;
                            display: inline-block;
                            line-height: 22px;
                            @include transition;
                            &:hover{
                                background: $baseColor;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        .owl-prev, .owl-next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 75px;
            width: 75px;
            background: #f2f2f2;
            border-radius: 50%;
            text-align: center;
            line-height: 70px;
            font-size: 30px;
            color: $gray;
            z-index: 3;
            cursor: pointer;
        }
        .owl-prev{
            left: 60px;
        }
        .owl-next{
            right: 60px;
        }
    }
}
.team_image{
    position: relative;
    z-index: 2;
    &:before{
        content: '';
        width: 570px;
        border: 10px solid #f2f2f2;
        bottom: -10px;
        left: -60px;
        height: 360px;
        position: absolute;
        z-index: -1;
    }
    img{
        width: auto !important;
        max-width: 100%;
        margin-bottom: 10px;
    }
}
.global_map_area{
    padding-top: 100px;
    .title_dark{
        padding-bottom: 60px;
    }
}
.world_wide_rate{
    padding-bottom: 100px;
    padding-top: 15px;
    .world_title{
        font-size: 24px;
        letter-spacing: .20px;
        font-family: $ox;
        color: $dip;
        text-transform: uppercase;
        padding-bottom: 30px;
        span{
            color: #ff3951;
        }
    }
}
.world_wide_item{
    margin-top: 30px;
    h4{
        font-size: 16px;
        letter-spacing: .80px;
        font-family: $ox;
        font-weight: bold;
        color: $gray;
        border: 1px solid #f4f4f4;
        text-align: center;
        line-height: 58px;
        @include transition;
        img{
            padding-right: 15px;
        }
        span{
            color: $baseColor;
        }
    }
    &:hover{
        h4{
            border: 1px solid $baseColor;
        }
    }
}
/* End Team Details area css
============================================================================================ */