/*font Variables*/
$ox: 'Oxygen', sans-serif;
$ar: 'Archivo Black', sans-serif;
$rob: 'Roboto', sans-serif;

/*Color Variables*/

$baseColor: #ff7d01;
$gray: #748491;  
$dip: #243a4f;



// Mixins
@mixin transition($property: all, $duration: 400ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}
@mixin transitionin($property: all, $duration: 400ms, $animate: ease-in, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

// Font family link

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Oxygen:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500');

//@font-face {
//    font-family: "monR";
//    src: url(../fonts/theme-font/Montserrat-Regular.woff);
//}
