{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="icon" href="img/fab-icon.png" type="image/x-icon" />

        <title>{% block title %} {% endblock %}</title>

        <!-- fonts css -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
        <link href="{% static "articles/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "articles/vendors/linears-icon/style.css" %}" rel="stylesheet">
        <!--animation css-->
        <link rel="stylesheet" href="{% static "articles/vendors/animate-css/animate.css" %}">
        <!-- RS5.0 Main Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{% static "articles/vendors/revolution/css/settings.css" %}">

        <!-- RS5.0 Layers and Navigation Styles -->
        <link rel="stylesheet" type="text/css" href="{% static "articles/vendors/revolution/css/layers.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "articles/vendors/revolution/css/navigation.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "articles/vendors/slider-instafeed/css/style.css" %}">

        <!--Extra Plugin css-->
        <link href="{% static "articles/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "articles/vendors/owl-carousel/assets/owl.carousel.min.js" %}" rel="stylesheet">


        <link href="{% static "articles/css/style.css" %}" rel="stylesheet">
        <link href="{% static "articles/css/responsive.css" %}" rel="stylesheet">

        <script src="{% static "articles/vendors/slider-instafeed/js/modernizr.custom.26633.js" %}"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <!--==========Header Frist area==========-->
        <div class="header_first">
            <div class="left_side">
                <a class="logo_area" href="index.html"><img src="{% static "articles/img/logo.png" %}" alt=""></a>
            </div>
            <div class="right_side">
                <div class="contact_details">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-volume-control-phone" aria-hidden="true"></i>

                        </div>
                        <div class="media-body">
                            <h4>Наш телефон</h4>
                            <h6>(+996) 701 21 21 81</h6>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h4>Наш e-mail</h4>
                            <h6>rockybd1995@gmail.com</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--==========End Header Frist area==========-->

        <!--==========Main Menu area==========-->
        <div class="main_menu_area">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown submenu active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Главная</a>
                            </li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Наша миссия</a>
                            </li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Поддержите нас</a>
                            </li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Нуждающие</a>
                            </li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Новости</a>
                            </li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">О нас</a>
{#                                  <ul class="dropdown-menu">#}
{#                                    <li><a href="donation.html">О нас</a></li>#}
{#                                      <li><a href="donation.html"></a></li>#}
{#                                </ul>#}
                            </li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Контакты</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
        <!--==========End Main Menu area==========-->

        <!--==========Home Slider area==========-->
        <div class="home_slider">
            <!-- START REVOLUTION SLIDER 5.0 -->
            <div class="home_slider_wrapper">
                <div class="rev_slider"  data-version="5.0" id="home-slider">
                    <ul>
                        <li data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="600" data-rotate="0" data-saveperformance="off">
                            <!-- MAIN IMAGE -->
                            <img src="{% static "articles/img/home-slider/home-slider-1.jpg" %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="slider_text_box">
                                <div class="tp-caption first_text"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-voffset="['230']"
                                    data-x="center"
                                    data-y="top"
                                    data-fontsize="['22']"
                                    data-lineheight="['32']"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="500"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-responsive_offset="on"><img src="{% static "articles/img/home-slider/slider_boder.png" %}" alt="">
								</div>
                                <div class="tp-caption big_text"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-voffset="['215','170','170','170','170','130']"
                                    data-x="center"
                                    data-y="top"
                                    data-fontsize="['22','16']"
                                    data-lineheight="['32']"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="800"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-responsive_offset="on">Big Charity Fund For Childs
								</div>
                                <div class="tp-caption secand_text"
                                    data-x="center"
                                    data-y="top"
                                    data-voffset="['280','225','225','225','225','170']"
                                    data-fontsize="['50','30','30','20']"
                                    data-lineheight="['60','40']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="1000"
                                    data-splitin="chars"
                                    data-splitout="none"
                                    data-responsive_offset="on"
                                    data-elementdelay="0.05" >We waiting For your help
								</div>
                                <div class="tp-caption third_text"
                                    data-width="['750','500','400','400','400','310']"
                                    data-height="none"
                                    data-whitespace="normal"
                                    data-voffset="['370','280','280','280','280','230']"
                                    data-fontsize="['14']"
                                    data-lineheight="['24']"
                                    data-x="center"
                                    data-y="top"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="1500"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-responsive_offset="on">
                                    Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica,
                                </div>
                                <div class="tp-caption download_btn"
                                    data-whitespace="nowrap"
                                    data-voffset="['460','360','360','360','360','340']"
                                    data-x="center"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-y="top"
                                    data-start="1800" >
                                    <a href="#">Donate Now</a>
                                </div>
                            </div>
                        </li>
                        <li data-transition="scaledownfromRight">
                            <!-- MAIN IMAGE -->
                            <img src="{% static "articles/img/home-slider/home-slider-1.jpg" %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="slider_text_box">
                                <div class="tp-caption first_text"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-voffset="['230']"
                                    data-x="center"
                                    data-y="top"
                                    data-fontsize="['22']"
                                    data-lineheight="['32']"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="500"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-responsive_offset="on"><img src="{% static "articles/img/home-slider/home-slider-1.jpg" %}" alt="">
								</div>
                                <div class="tp-caption big_text"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-voffset="['215','170','170','170','170','130']"
                                    data-x="center"
                                    data-y="top"
                                    data-fontsize="['22']"
                                    data-lineheight="['32']"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="800"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-responsive_offset="on">Big Charity Fund For Childs
								</div>
                                <div class="tp-caption secand_text"
                                    data-x="center"
                                    data-y="top"
                                    data-voffset="['280','225','225','225','225','170']"
                                    data-fontsize="['50','30','30','20']"
                                    data-lineheight="['60','40']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="1000"
                                    data-splitin="chars"
                                    data-splitout="none"
                                    data-responsive_offset="on"
                                    data-elementdelay="0.05" >We waiting For your help
								</div>
                                <div class="tp-caption third_text"
                                    data-width="['750','500','400','400','400','310']"
                                    data-height="none"
                                    data-whitespace="normal"
                                    data-voffset="['370','280','280','280','280','230']"
                                    data-fontsize="['14']"
                                    data-lineheight="['24']"
                                    data-x="center"
                                    data-y="top"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="1500"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-responsive_offset="on">
                                    Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica,
                                </div>
                                <div class="tp-caption download_btn"
                                    data-whitespace="nowrap"
                                    data-voffset="['460','360','360','360','360','340']"
                                    data-x="center"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-y="top"
                                    data-start="1800" >
                                    <a href="#">Donate Now</a>
                                </div>
                            </div>
                        </li>
                        <li data-index="rs-20" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-saveperformance="off"  data-title="Love it?" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="{% static "articles/img/home-slider/home-slider-1.jpg" %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="slider_text_box">
                                <div class="tp-caption first_text"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-voffset="['230']"
                                    data-x="center"
                                    data-y="top"
                                    data-fontsize="['22']"
                                    data-lineheight="['32']"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="500"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-responsive_offset="on"><img src="{% static "articles/img/home-slider/slider_boder.png" %}" alt="">
								</div>
                                <div class="tp-caption big_text"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-voffset="['215','170','170','170','170','130']"
                                    data-x="center"
                                    data-y="top"
                                    data-fontsize="['22']"
                                    data-lineheight="['32']"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="800"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-responsive_offset="on">Big Charity Fund For Childs
								</div>
                                <div class="tp-caption secand_text"
                                    data-x="center"
                                    data-y="top"
                                    data-voffset="['280','225','225','225','225','170']"
                                    data-fontsize="['50','30','30','20']"
                                    data-lineheight="['60']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="1000"
                                    data-splitin="chars"
                                    data-splitout="none"
                                    data-responsive_offset="on"
                                    data-elementdelay="0.05" >We waiting For your help
								</div>
                                <div class="tp-caption third_text"
                                    data-width="['750','500','400','400','400','310']"
                                    data-height="none"
                                    data-whitespace="normal"
                                    data-voffset="['370','280','280','280','280','230']"
                                    data-fontsize="['14']"
                                    data-lineheight="['24']"
                                    data-x="center"
                                    data-y="top"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="1500"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-responsive_offset="on">
                                    Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica,
                                </div>
                                <div class="tp-caption download_btn"
                                    data-whitespace="nowrap"
                                    data-voffset="['460','360','360','360','360','340']"
                                    data-x="center"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-y="top"
                                    data-start="1800" >
                                    <a href="#">Donate Now</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- END REVOLUTION SLIDER -->
            </div><!-- END OF SLIDER WRAPPER -->
        </div>
        <!--==========End Home Slider area==========-->
    {% block contents %}
    {% endblock contents %}
        <!--==========Footer area==========-->
        <footer class="footer_area">
            <div class="scroll_top">
                <i class="lnr lnr-arrow-up"></i>
            </div>
            <div class="container">
                <div class="row">
                    <div class="footer_widgets_area">
                        <div class="col-md-3">
                            <div class="f_widget_item about_widget">
                                <a href="index.html"><img src="{% static "articles/img/footer-logo.png" %}" alt=""></a>
                                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                <a class="read_more_btn" href="#">About us</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="f_widget_item twitter_widget">
                                <div class="f_widget_title">
                                    <h4>Twitter Feeds</h4>
                                </div>
                                <div class="tweets_feed"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="f_widget_item couses_widget">
                                <div class="f_widget_title">
                                    <h4>Latest Couses</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><span>-</span> Safe water</a></li>
                                    <li><a href="#"><span>-</span> Safe Child Life</a></li>
                                    <li><a href="#"><span>-</span> Urgent Donate</a></li>
                                    <li><a href="#"><span>-</span> Food Donate</a></li>
                                    <li><a href="#"><span>-</span> Cloth Collection</a></li>
                                    <li><a href="#"><span>-</span> Adoption Orphan Child</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="f_widget_item flicker_widget">
                                <div class="f_widget_title">
                                    <h4>Flicker Strem</h4>
                                </div>
                                <div id="ri-grid" class="ri-grid">
                                    <img class="ri-loading-image" src="{% static "articles/vendors/slider-instafeed/images/loading.gif" %}"/>
                                    <ul>
                                        <li><a href="https://www.flickr.com"><img src="{% static "articles/img/flicker/flicker-1.jpg" %}" alt=""></a></li>
                                        <li><a href="https://www.flickr.com"><img src="{% static "articles/img/flicker/flicker-2.jpg" %}" alt=""></a></li>
                                        <li><a href="https://www.flickr.com"><img src="{% static "articles/img/flicker/flicker-3.jpg" %}" alt=""></a></li>
                                        <li><a href="https://www.flickr.com"><img src="{% static "articles/img/flicker/flicker-4.jpg" %}" alt=""></a></li>
                                        <li><a href="https://www.flickr.com"><img src="{% static "articles/img/flicker/flicker-5.jpg" %}" alt=""></a></li>
                                        <li><a href="https://www.flickr.com"><img src="{% static "articles/img/flicker/flicker-6.jpg" %}" alt=""></a></li>
                                        <li><a href="https://www.flickr.com"><img src="{% static "articles/img/flicker/flicker-1.jpg" %}" alt=""></a></li>
                                        <li><a href="https://www.flickr.com"><img src="{% static "articles/img/flicker/flicker-2.jpg" %}" alt=""></a></li>
                                        <li><a href="https://www.flickr.com"><img src="{% static "articles/img/flicker/flicker-3.jpg" %}" alt=""></a></li>
                                        <li><a href="https://www.flickr.com"><img src="{% static "articles/img/flicker/flicker-4.jpg" %}" alt=""></a></li>
                                        <li><a href="https://www.flickr.com"><img src="{% static "articles/img/flicker/flicker-5.jpg" %}" alt=""></a></li>
                                        <li><a href="https://www.flickr.com"><img src="{% static "articles/img/flicker/flicker-6.jpg" %}" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copy_right_area">
                    <div class="pull-left">
                        <h5><span>Авторское право</span> &copy; 2018 <a href="index.html">Айкөл элим</a> Все права защищены</h5>
                    </div>
                    <div class="pull-right">
                        <ul class="footer_social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--==========End Footer area==========-->





        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static "articles/js/jquery-2.1.4.min.js" %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static "articles/js/bootstrap.min.js" %}"></script>
        <!-- RS5.0 Core JS Files -->
        <script src="{% static "articles/vendors/revolution/js/jquery.themepunch.tools.min.js?rev=5.0" %}"></script>
        <script src="{% static "articles/vendors/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0" %}"></script>
        <!--RS5.0 Extensions-->
        <script src="{% static "articles/vendors/revolution/js/extensions/revolution.extension.video.min.js" %}"></script>
        <script src="{% static "articles/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js" %}"></script>
        <script src="{% static "articles/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
        <script src="{% static "articles/vendors/revolution/js/extensions/revolution.extension.navigation.min.js" %}"></script>
        <!--Extra Plugin-->
        <script src="{% static "articles/vendors/counterup/waypoints.min.js" %}"></script>
        <script src="{% static "articles/vendors/counterup/jquery.counterup.min.js" %}"></script>
        <script src="{% static "articles/vendors/progress/js/pie-chart.js" %}"></script>
        <!--Isotope Plugin-->
        <script src="{% static "articles/vendors/isotope/imagesloaded.pkgd.min.js" %}"></script>
        <script src="{% static "articles/vendors/isotope/isotope.pkgd.min.js" %}"></script>
        <script src="{% static "articles/vendors/slider-instafeed/js/jquery.gridrotator.js" %}"></script>
        <!--Tweets-->
        <script src="{% static "articles/vendors/tweet/tweetie.min.js" %}"></script>
        <script src="{% static "articles/js/script.js" %}"></script>
        <!--Hover3d Plugin-->
        <script src="{% static "articles/vendors/owl-carousel/owl.carousel.min.js" %}"></script>
        <!-- Google Map -->
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="{% static "articles/js/gmaps.min.js" %}"></script>
        <script src="{% static "articles/js/google-map.js" %}"></script>

        <script src="{% static "articles/js/video_player.js" %}"></script>
        <script src="{% static "articles/js/theme.js" %}"></script>
    </body>
</html>