{% extends 'articles/base.html' %}
{% load staticfiles %}
{% block title %}Главная {% endblock %}
    {% block contents %}



        <!--==========Mission area==========-->
        <section class="mission_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mission_item">
                            <h4>Наша миссия</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mission_item">
                            <h4>Наше видение</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="respect_item">
                            <h4><span>If you</span> give <br class="text_break" /><span>us</span> respect</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable.</p>
                            <a class="join_btn" href="#">JOin US</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==========End Mission area==========-->

        <!--==========Our Services area==========-->
        <section class="our_service_area">
            <div class="container">
                <div class="service_title">
                    <h2><span>Поддержите</span> нас</h2>
                    <p>We always Help Child</p>
                </div>
                <div class="service_inner row m0">
                    <div class="col-lg-4 col-md-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static "articles/img/service-icon/service-1.png" %}" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Child Education</h4>
                                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static "articles/img/service-icon/service-2.png" %}" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Child Education</h4>
                                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static "articles/img/service-icon/service-3.png" %}" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Child Education</h4>
                                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static "articles/img/service-icon/service-4.png" %}" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Child Education</h4>
                                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static "articles/img/service-icon/service-5.png" %}" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Child Education</h4>
                                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static "articles/img/service-icon/service-6.png" %}" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Child Education</h4>
                                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==========End Our Services area==========-->

        <!--==========Main Video area==========-->
        <section class="main_video_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row m0 background_video_row">
                            <div class="row m0 video_row">
                                <iframe id="video" src="http://www.youtube.com/embed/0wCC3aLXdOw?enablejsapi=1&html5=1&rel=0&fs=0&loop=1&showinfo=0&disablekb=1&controls=0&color=white&playlist=6v2L2UGZJAM"></iframe>
                                <div class="overlay" id="video_overlay">
                                    <div class="overlay_bg"></div>
                                    <div class="play_pause row m0">
                                        <i class="fa fa-play" aria-hidden="true" id="play_btn"></i>
                                        <i class="fa fa-pause" aria-hidden="true" id="pause_btn"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right_main_content">
                            <h4>We Have Many Orphan Childs</h4>
                            <h6>It’s a Big Charity Fund For Homeless Childs</h6>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            <div class="read_btn_area">
                                <a class="read_more_btn" href="#">Read More</a>
                                <div class="share_video pull-right">
                                    <h5>Share Our Video</h5>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vimeo-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--==========End Main Video area==========-->

        <!--==========Fun Fact area==========-->
        <section class="fun_fact_area">
            <div class="container">
                <div class="title_fun">
                    <h2><span>Our</span> Fun facts</h2>
                    <p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="fun_fact_item">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <h4><span>20</span>K+</h4>
                                    <p>Save Child’s Life</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="fun_fact_item">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <h4><span>900</span>+</h4>
                                    <p>Child’s Adoption</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="fun_fact_item">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <h4><span>30</span>K+</h4>
                                    <p>Volunteer With Us</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="fun_fact_item">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-usd" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <h4><span>10</span>M+</h4>
                                    <p>Donate Collected </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==========End Fun Fact area==========-->

        <!--==========Causes area==========-->
{#        <section class="causes_area">#}
{#            <div class="container">#}
{#                <div class="service_title">#}
{#                    <h2><span>Our</span> Causes</h2>#}
{#                    <p>Check Our Couses & Help Us</p>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-md-4">#}
{#                        <div class="causes_item">#}
{#                            <div class="causes_item_img">#}
{#                                <img src="{% static "articles/img/causes-item/causes-item-1.jpg" %}" alt="">#}
{#                                <div class="causes_progress">#}
{#                                    <span></span>#}
{#                                    <h4>85%</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="causes_rate">#}
{#                                <div class="pull-left">#}
{#                                    <h4>Raised -<span>$80,500</span></h4>#}
{#                                </div>#}
{#                                <div class="pull-right">#}
{#                                    <h4>Goal -<span>$1,40,000</span></h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="causes_content">#}
{#                                <a href="#"><h3>Give A Home By Adopt</h3></a>#}
{#                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>#}
{#                                <a class="read_more_btn" href="#">Donate</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4">#}
{#                        <div class="causes_item">#}
{#                            <div class="causes_item_img">#}
{#                                <img src="{% static "articles/img/causes-item/causes-item-2.jpg" %}" alt="">#}
{#                                <div class="causes_progress">#}
{#                                    <span></span>#}
{#                                    <h4>85%</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="causes_rate">#}
{#                                <div class="pull-left">#}
{#                                    <h4>Raised -<span>$80,500</span></h4>#}
{#                                </div>#}
{#                                <div class="pull-right">#}
{#                                    <h4>Goal -<span>$1,40,000</span></h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="causes_content">#}
{#                                <a href="#"><h3>Give A Home By Adopt</h3></a>#}
{#                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>#}
{#                                <a class="read_more_btn" href="#">Donate</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4">#}
{#                        <div class="causes_item">#}
{#                            <div class="causes_item_img">#}
{#                                <img src="{% static "articles/img/causes-item/causes-item-3.jpg" %}" alt="">#}
{#                                <div class="causes_progress">#}
{#                                    <span></span>#}
{#                                    <h4>85%</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="causes_rate">#}
{#                                <div class="pull-left">#}
{#                                    <h4>Raised -<span>$80,500</span></h4>#}
{#                                </div>#}
{#                                <div class="pull-right">#}
{#                                    <h4>Goal -<span>$1,40,000</span></h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="causes_content">#}
{#                                <a href="#"><h3>Give A Home By Adopt</h3></a>#}
{#                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>#}
{#                                <a class="read_more_btn" href="#">Donate</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
        <!--==========End Causes area==========-->

        <!--==========Our Gallery area==========-->
        <section class="our_gallery_area">
            <div class="container">
                <div class="service_title">
                    <h2><span>Наша</span> галерея</h2>
                    <p>Наши последние фотографии</p>
                </div>
                <nav class="gallery_menu">
                    <ul>
                        <li data-filter="*"><a href="">All</a></li>
                        <li data-filter=".homeless"><a href="">Homeless</a></li>
                        <li class="active" data-filter=".charity"><a href="">Charity</a></li>
                        <li data-filter=".uneducate"><a href="">Uneducate</a></li>
                        <li data-filter=".natural"><a href="">Natureal</a></li>
                    </ul>
                </nav>
                <div class="row">
                    <div class="gallery_image">
                        <div class="col-sm-5 gallery_item charity">
                            <div class="gallery_inner">
                                <img src="{% static "articles/img/gallery/ourgallery-1.jpg" %}" alt="">
                                <div class="hover_gallery">
                                    <div class="gallery_content">
                                        <div class="border_div"></div>
                                        <div class="gallery_content_inner">
                                            <h4>Safe Child Life</h4>
                                            <h5>Category - Charity</h5>
                                            <a href="#"><i class="lnr lnr-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 gallery_item charity natural">
                            <div class="gallery_inner">
                                <img src="{% static "articles/img/gallery/ourgallery-2.jpg" %}" alt="">
                                <div class="hover_gallery">
                                    <div class="gallery_content">
                                       <div class="border_div"></div>
                                        <div class="gallery_content_inner">
                                            <h4>Safe Child Life</h4>
                                            <h5>Category - Charity</h5>
                                            <a href="#"><i class="lnr lnr-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 gallery_item charity homeless">
                            <div class="gallery_inner">
                                <img src="{% static "articles/img/gallery/ourgallery-3.jpg" %}" alt="">
                                <div class="hover_gallery">
                                    <div class="gallery_content">
                                       <div class="border_div"></div>
                                        <div class="gallery_content_inner">
                                            <h4>Safe Child Life</h4>
                                            <h5>Category - Charity</h5>
                                            <a href="#"><i class="lnr lnr-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 gallery_item charity homeless uneducate">
                            <div class="gallery_inner">
                                <img src="{% static "articles/img/gallery/ourgallery-4.jpg" %}" alt="">
                                <div class="hover_gallery">
                                    <div class="gallery_content">
                                       <div class="border_div"></div>
                                        <div class="gallery_content_inner">
                                            <h4>Safe Child Life</h4>
                                            <h5>Category - Charity</h5>
                                            <a href="#"><i class="lnr lnr-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 gallery_item charity homeless uneducate">
                            <div class="gallery_inner">
                                <img src="{% static "articles/img/gallery/ourgallery-5.jpg" %}" alt="">
                                <div class="hover_gallery">
                                    <div class="gallery_content">
                                       <div class="border_div"></div>
                                        <div class="gallery_content_inner">
                                            <h4>Safe Child Life</h4>
                                            <h5>Category - Charity</h5>
                                            <a href="#"><i class="lnr lnr-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 gallery_item charity natural">
                            <div class="gallery_inner">
                                <img src="{% static "articles/img/gallery/ourgallery-6.jpg" %}" alt="">
                                <div class="hover_gallery">
                                    <div class="gallery_content">
                                       <div class="border_div"></div>
                                        <div class="gallery_content_inner">
                                            <h4>Safe Child Life</h4>
                                            <h5>Category - Charity</h5>
                                            <a href="#"><i class="lnr lnr-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==========End Our Gallery area==========-->

        <!--==========Our Events area==========-->
        <section class="our_events_area">
            <div class="container">
                <div class="service_title">
                    <h2><span>Наши</span> мерроприятия</h2>
                    <p>Где прошли наши последние мерроприятия</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="events_item">
                            <div class="event_image">
                                <img src="{% static "articles/img/event/event-1.jpg" %}" alt="">
                                <a class="location" href="#"><i class="fa fa-map" aria-hidden="true"></i>Sec-10, Uttara, Dhaka-1230</a>
                            </div>
                            <div class="event_content">
                                <a href="#"><h4>Homless Child Collection</h4></a>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as...</p>
                                <a class="read_more_btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="events_item">
                            <div class="event_image">
                                <img src="{% static "articles/img/event/event-2.jpg" %}" alt="">
                                <a class="location" href="#"><i class="fa fa-map" aria-hidden="true"></i>Sec-10, Uttara, Dhaka-1230</a>
                            </div>
                            <div class="event_content">
                                <a href="#"><h4>Homless Child Collection</h4></a>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as...</p>
                                <a class="read_more_btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="events_item">
                            <div class="event_image">
                                <img src="{% static "articles/img/event/event-3.jpg" %}" alt="">
                                <a class="location" href="#"><i class="fa fa-map" aria-hidden="true"></i>Sec-10, Uttara, Dhaka-1230</a>
                            </div>
                            <div class="event_content">
                                <a href="#"><h4>Homless Child Collection</h4></a>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as...</p>
                                <a class="read_more_btn" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==========End Our Events area==========-->

        <!--==========Become area==========-->
        <section class="become_area">
            <div class="container">
                <div class="row">
                    <div class="become_slider">
                        <div class="item">
                            <div class="become_content">
                                <h4>Станьте <span>нашим волонтером</span></h4>
                                <h5>If You Like This works Now Join with us</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                <a class="read_more_btn white_btn" href="#">Присоединяйтесь</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <!--==========End Become area==========-->

        <!--==========Need Help area==========-->
        <section class="need_help_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="need_help_item">
                            <h4>We Need Some Urgent Donate</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable. <a href="#">Read more...</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="need_help_item">
                            <h4>Give Some Food For Our Childs</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable. <a href="#">Read more...</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="need_help_item">
                            <h4>Share Your Happiness With Us</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable. <a href="#">Read more...</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==========End Need Help area==========-->

            <!--==========Map area==========-->
        <section class="map_area_touch">
            <div class="map_area" id="mapBox" data-lat="37.3818288" data-lon="-122.0636325" data-zoom="14"></div>
            <div class="get_in_touch_details">
                <div class="container">
                    <div class="touch_details_inner">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="touch_content">
                                    <div class="touch_title">
                                        <h3>Свяжитесь с нами</h3>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="lnr lnr-map-marker"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4>Адрес</h4>
                                            <h6>Sector - 10, Road - 05., Uttar, Dhaka - 1230</h6>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="lnr lnr-envelope"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4>E-mail</h4>
                                            <h6>rockybd1995@gmail.com</h6>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="lnr lnr-phone-handset"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4>Телефон </h4>
                                            <h6>(880) 016-767-90-690</h6>
                                            <h6>(880) 183-90-97-834</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="subscribe_content">
                                    <h3>Subscribe For Newsletter</h3>
                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Type email...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-sign-in"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==========End Map area==========-->


   {% endblock contents %}